.fa-eye {
    position: absolute;
    right: 20px;
    top: 12px;
}

.fa-eye-slash {
    position: absolute;
    right: 20px;
    top: 12px;
}

input.ng-invalid.ng-touched {
    border: 1.4px solid red;
}
::placeholder {
    color: rgb(122, 114, 114);
    opacity: 1;
}

.form_main {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: inherit;
    .main_form {
        display: inline-block;
        width: 100%;
        max-width: 100%;
        box-shadow: 0 0 3px #ddd;
        padding: 10px;
        .text-info {
            color: #333 !important;
            padding: 10px 0;
            margin-bottom: 0;
        }
        form {
            display: inline-block;
            width: 100%;
            text-align: left;
            max-width: inherit;
            .form-group {
                display: inline-block;
                width: 100%;
                position: relative;
                label {
                    padding: 7px 0;
                    display: inline-block;
                    font-size: 15px;
                    color: #333;
                    width: 100%;
                }
               
                input.ng-invalid.ng-touched {
                    border: 1.4px solid red;
                }
                
                input.ng-valid {
                    border: 1.4px solid green;
                }
                
                .form-control {
                    border: 1.4px solid green;
                    box-shadow: none;
                    width: 100%;
                    padding: 5px;
                }
                .fa-eye-slash {
                    position: absolute;
                    right: 30px;
                    top: 47px;
                    cursor: pointer;
                }
            }

            .button_btn.text-center {
                display: inline-block;
                width: 100%;
                margin: 15px 0;
            }
            .text-left {
                text-align: left !important;
                width: 20%;
                margin-top: 36px;
                display: inline-block;
                .btn-outline-success{
                    border: 1px solid #0e6cbd;
                    background: no-repeat;
                    color: #0e6cbd;
                    box-shadow: none;
                    &:hover {
                        color: #fff;
                        background-color: #0e6cbd;
                        border-color: #0e6cbd;
                    }
                }
            }
        }
    }
}
