<div id="wrapper">
  <div class="header_main">
    <div class="logo">
      <img src="assets/logo-name.png" alt="" />
    </div>
    <!-- <button class="toggle_main" id="menu-toggle" (click)="menu()"><span class="material-icons">
      menu
      </span></button> -->
    <div class="menu" id="navbarSupportedContent">
      <ul>
        <li (click)="logout()" style="cursor: pointer;">
          <i class="fa fa-power-off"></i>Logout
        </li>
      </ul>
    </div>
  </div>
  <div class="border-right" id="sidebar-wrapper">
    <div class="sidebar-logo">
      <div class="user" (click)="userProfile()">
        <div class="user-img">
          <img
            src="assets/images/profile.jpg"
            alt=""
            style="cursor: pointer;"
          />
        </div>
        <div class="user-name" style="cursor: pointer;">
          {{ UserInfo }}

          <h6 *ngFor="let role of UserRole">
            {{ role.name }}
          </h6>
        </div>
      </div>
    </div>
    <div class="list-group list-group-flush">
      <ng-container *ngFor="let p of pages">
        <div class="dropdown_sidebar" *ngIf="pageAuthority(p.privilege)">
          <a
            href="#"
            class="list-group-item list-group-item-action main-menu"
            id="{{ p.title }}"
            (click)="activeClass(p.title)"
            [routerLink]="[p.route]"
            routerLinkActive="active"
          >
            <span class="material-icons">
              keyboard_arrow_right
            </span>
            {{ p.title }}
          </a>
        </div>
      </ng-container>
    </div>
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="middle-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
