#sidebar-wrapper {
  margin-left: 0;
  position: fixed;
  z-index: 33;
  margin-top: 0;
  width: 250px;
  transition: all 0.5s;
  min-height: 100vh;
  height: 100%;
  background: #364150;
  font-family: 'Oxygen', sans-serif !important;

}

#page-content-wrapper {
  width: calc(100% - 250px);
  float: right;
  display: inline-block;
  transition: all 0.5s;
  // position: relative;
}
div#wrapper {
  // padding-top: 47px;
  width: 100%;
  float: left;
  background: #f2f2f3;
  min-height: 100%;
}
.toggled {
  #sidebar-wrapper {
      margin-left: -250px;
  }
  #page-content-wrapper {
      width: 100%;
  }
}
.user {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 20px 0;
}
.user-img {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #ddd;
  box-shadow: 0 0 3px;
}
.user {
  img{
    width: 150%;
    height: 100%;
    position: relative;
    right: 12px;
  }
  .user-name{
    color: white;
    h6{
    color: #29aba4;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 3px;
    }
  }
}
a.list-group-item.list-group-item-action.active
{
  background-color: #29aba4;
  color: white;
}
a.list-group-item.list-group-item-action:hover{
  background: #2c3542;
  padding-left: 25px;
}
.list-group-item-action{
  color: #b4bcc8;
  border-style: none;
  transition: 0.4s;
}

a.list-group-item i {
  margin-right: 5px;
}
.header_main {
    border-bottom: 1px solid #2b3643;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 2px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    position: sticky;
    background: #2b3643;
    z-index: 999;
    width: 100%;
    padding: 10px 15px;
    top: 0;

    .logo {
      width: auto;
      display: inline-block;
      position: relative;
      img {
        width: 146px;
    }
    }

  .menu{
    display: inline-block;
    width: auto;
    float: right;
    ul {
      display: inline-block;
      width: 100%;
      padding: 0;
      list-style: none;
      margin: 0;
      li {
        display: inline-block;
        width: 100%;
        color: #cecece;
        display: flex;
        align-items: center;
        i {
          padding-right: 7px;
          color: #c31c1c;
          font-size: 21px;
      }
      }
    }
  }

  .toggle_main {
    display: inline-block;
    width: auto;
    padding: 5px 10px;
    border: none;
    background: no-repeat;
    i.fa.fa-bars {
      font-size: 30px;
      color: #ef4000;
  }
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}
}

.list-group {
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
    background: no-repeat;
    width: 100%;
    // font-family: 'Hind Madurai', sans-serif;
}
.sidebar-logo {
  display: inline-block;
  width: 100%;
  // border-bottom: 1px solid #ddd;
}
.list-group-item{
  background: none;
}
.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: none;
  border-color: none;
}
.dropdown_sidebar {
  display: inline-block;
  width: 100%;
  border-top: 1px solid #3d4957;
  span {
    font-size: 19px;
    position: relative;
    top: 4px;
}
  &:last-child{
    border-block-end: none;
  }
}

