<table class="table table-hover table-stripped table-sm" id="myTable">
    <thead class="users_table_hader">
        <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">Product Family</th>
            <th scope="col" class="text-center">Product Code</th>
            <th scope="col" class="text-center">Licence Count</th>
            <th scope="col" class="text-center">Version</th>
            <th scope="col" class="text-center">Licence Type</th>
            <th scope="col" class="text-center">Expiration Period</th>
            <th scope="col" class="text-center">Start Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of myProjectDetail index as i">
            <td scope="row" class="text-center">{{i+1}}</td>
            <td class="text-center">{{item.ProductFamily}}</td>
            <td class="text-center">{{item.productCode}}</td>
            <td class="text-center">{{item.LicenceDistributed}}</td>
            <td class="text-dark text-center">{{item.Version}}</td>
            <td class="text-center">{{item.LicenceType}}</td>
            <td class="text-center">{{item.ExpirationPeriod}}</td>
            <td class="text-center">{{item.StartDate}}</td>
        </tr>
    </tbody>
</table>
<button class="btn btn-info myButton" routerLink="/user/generateLicence"><i class="fa fa-file-text-o"></i> Generate New Licence Key</button>