.fa-trash {
    cursor: pointer;
}
form.form-inline.ng-untouched.ng-pristine.ng-valid {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    .form-group {
        width: 100%;
        display: inline-block;
        max-width: 25%;
        .form-control {
            display: inline-block;
            width: 235px;
            max-width: 250px;
            border: 1px solid #ddd;
            &:focus {
                border: 1px solid #ddd;
            }
        }
    }
}
