body {
    color: #999;
    font-family: 'Roboto', sans-serif;
}

.password_change_forget {
    display: inline-block;
    width: 100%;
    background-color: #fafafa;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/password_background.jpg);
    .signup-form {
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
        margin: 0 auto;
        padding: 30px 0;
        text-align: center;
        form {
            max-width: 350px;
            margin-top: 30px;
            color: #999;
            background: #fff;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
            padding: 30px;
            .form-header {
                margin: -30px -30px 20px;
                padding: 30px 30px 10px;
                text-align: center;
                background: #639bcb !important;
                color: #fff;
                h2 {
                    font-size: 34px;
                    font-weight: bold;
                    margin: 0 0 10px;
                    font-family: 'Pacifico', sans-serif;
                }
            }
            .form-group {
                margin-bottom: 20px;
                display: inline-block;
                width: 100%;
                label {
                    color: #333;
                    font-size: 15px;
                    border: none;
                }
                .btttn {
                    font-size: 16px;
                    font-weight: bold;
                    background: #3491e2 !important;
                    opacity: inherit;
                    border: none;
                    &:hover {
                        background: #0e6cbd !important;
                    }
                }
                input.ng-invalid.ng-touched {
                    border: 1px solid red;
                }
                input.ng-valid {
                    border: 1px solid green;
                }
                .btn-outline-danger {
                    color: #dc3545;
                    border-color: #dc3545;
                    &:hover {
                        color: #fff;
                        background-color: #1b6dd3;
                        border-color: #2873cf;
                    }
                }
            }
        }
    }
}
