<div class="password_change_forget">
    <div class="signup-form ">
        <form #f='ngForm' (ngSubmit)="onSubmit()">
            <div class="form-header">
                <h2>Forget Password</h2>
            </div>
            <div class="form-group">
                <label style="width: 100%;">User Name</label>
                <input type="text" placeholder="User Id" #userId='ngModel' class="form-control" name="User Name" [(ngModel)]="loginModel.userid" ngModel required style="width: 100%;">
                <small class="text-danger" *ngIf="!userId.valid && userId.touched">User Id required</small>
            </div>
            <div class="form-group">
                <label style="width: 100%; ">New Password</label>
                <input type="password" placeholder="New Password" minlength="5" #psw="ngModel" class="form-control" name="password" [(ngModel)]="loginModel.password" ngModel required style="width: 100%;">
                <small class="text-danger" *ngIf="!psw.valid && psw.touched">Password must be 5 characters</small>
            </div>
            <div class="form-group">
                <label style="width: 100%; ">Confirm Password</label>
                <input type="password" minlength="5" placeholder="Confirm Password" #Cnfpsw="ngModel" class="form-control" name="Cnfpassword" [(ngModel)]="loginModel.Cnfpassword" ngModel required style="width: 100%;">
                <small class="text-danger" *ngIf="!Cnfpsw.valid && Cnfpsw.touched">Password must be 5 characters</small>
            </div>
            <div class="form-group">
                <button type="submit" [disabled]="!f.valid" class="btn btn-primary btn-block btn-lg btttn">Submit </button>
            </div>
            <div class="form-group text-left">
                <button type="button" class="btn btn-outline-danger " routerLink="/login"><i class="fa fa-arrow-left"></i> </button>
            </div>
        </form>
    </div>
</div>
