<div class="site_main">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-12">
        <!-- <div class="table-responsive"> -->
        <ng-container *ngIf="hasAuthority('PRODUCT_DETAIL_CREATE')">
          <button
            class="createBtn"
            *ngIf="!isCreateDetail"
            (click)="showDetailForm()"
          >
            Add Product Details
          </button>
        </ng-container>
        <div class="table_scroll">
          <table class="mb-4">
            <thead class="users_table_hader">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Product Family</th>

                <th scope="col">Product Code</th>
                <th scope="col">Version</th>
                <th scope="col">Description</th>
                <th
                  scope="col"
                  class="action_width"
                  *ngIf="
                    hasAuthority('PRODUCT_DETAIL_UPDATE') ||
                    hasAuthority('PRODUCT_DETAIL_DELETE')
                  "
                >
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let detail of productDetailAll; index as i">
                <tr>
                  <td [attr.rowspan]="getDetailRowspan(detail)">{{ i + 1 }}</td>
                  <td [attr.rowspan]="getDetailRowspan(detail)">
                    {{ detail.name }}
                  </td>
                </tr>
                <ng-container *ngFor="let code of detail.productCodes">
                  <tr>
                    <td [attr.rowspan]="code.versions.length + 1">
                      {{ code.name }}
                    </td>
                  </tr>
                  <ng-container *ngFor="let version of code.versions">
                    <tr id="{{ version.productDetailId }}" class="">
                      <td>{{ version.version }}</td>
                      <td *ngIf="version.description">
                        <div class="description">
                          {{ version.description }}
                        </div>
                      </td>
                      <td *ngIf="!version.description">NA</td>
                      <td
                        *ngIf="
                          (hasAuthority('PRODUCT_DETAIL_UPDATE') ||
                            hasAuthority('PRODUCT_DETAIL_DELETE')) &&
                          version.active
                        "
                      >
                        <button
                          class="roleactive top_tooltip"
                          *ngIf="hasAuthority('PRODUCT_DETAIL_UPDATE')"
                          (click)="editProductDetail(detail, code, version)"
                        >
                        Edit
                          <!-- <i class="fa fa-edit"></i> -->
                          <!-- <span>Edit </span> -->
                        </button>
                        <button
                          class="roleactive bg-danger top_tooltip"
                          *ngIf="hasAuthority('PRODUCT_DETAIL_DELETE')"
                          (click)="
                            deleteProductDetail(
                              detail,
                              code,
                              version.productDetailId,
                              version
                            )
                          "
                        >
                        Deactivate
                          <!-- <i class="fa fa-trash"></i> -->
                          <!-- <span>Delete</span> -->
                        </button>
                      </td>
                      <td
                        *ngIf="
                          (hasAuthority('PRODUCT_DETAIL_UPDATE') ||
                            hasAuthority('PRODUCT_DETAIL_DELETE')) &&
                          !version.active
                        "
                      >
                        <button
                          class="roleactive bg-success"
                          *ngIf="hasAuthority('PRODUCT_DETAIL_DELETE')"
                          (click)="
                            activateProductDetail(
                              detail,
                              code,
                              version.productDetailId,
                              version
                            )
                          "
                        >
                          Activate
                        </button>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
          <div *ngIf="isloader" class="loader">
            <img class="loader_gif" src="assets/images/loader3.gif" alt="" />
          </div>

          <div
            class="no_product"
            *ngIf="!productDetailAll?.length && !isloader"
          >
            <h2>
              <img src="assets/images/alert.svg" alt="" /> No Product Details
              Available Now
            </h2>
          </div>

          <!-- <div *ngIf="!productDetail?.length && !isloader">
            No Product Details Available Now
          </div> -->
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>

<div class="custom_modal_main" *ngIf="isCreateDetail">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          {{ detailId ? "Edit" : "Add" }} Product Details
        </h4>
        <button class="close" type="button" (click)="close()">×</button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="createDetailForm">
          <div class="form-group">
            <label>Product Family</label>
            <select
              class="form-control"
              (ngModelChange)="onProductFamilySelect($event)"
              formControlName="productFamilyId"
            >
              <option value="" disabled>Select Product Family</option>
              <option
                value="{{ name.id }}"
                [disabled]="detailId"
                *ngFor="let name of Family"
                >{{ name.name }}</option
              >
            </select>
            <span
              *ngIf="
                createDetailForm.get('productFamilyId').errors &&
                (createDetailForm.get('productFamilyId').touched ||
                  createDetailForm.get('productFamilyId').dirty)
              "
            >
              <span
                *ngIf="createDetailForm.get('productFamilyId').errors.required"
                class="error"
                >project Family is required</span
              >
            </span>
          </div>

          <div class="form-group">
            <label>Product Code </label>
            <select
              class="form-control"
              formControlName="productCodeId"
              (ngModelChange)="onProductCodeSelect($event)"
            >
              <option value="" disabled>Select Product Code</option>
              <option
                *ngFor="let productCode of productCodes"
                value="{{ productCode.id }}"
                [disabled]="detailId"
              >
                {{ productCode.name }}
              </option>
            </select>
            <span
              *ngIf="
                createDetailForm.get('productCodeId').errors &&
                (createDetailForm.get('productCodeId').touched ||
                  createDetailForm.get('productCodeId').dirty)
              "
            >
              <span
                *ngIf="createDetailForm.get('productCodeId').errors.required"
                class="error"
                >project Code is required</span
              >
            </span>
          </div>

          <div class="form-group">
            <label>
              Version
              <span
                class="m-1 badge badge-success"
                *ngFor="let version of productVersion"
              >
                {{ version.version }}
              </span>
            </label>
            <input
              type="text"
              class="form-control"
              formControlName="version"
              placeholder="Version"
            />
            <span
              *ngIf="
                createDetailForm.get('version').errors &&
                (createDetailForm.get('version').touched ||
                  createDetailForm.get('version').dirty)
              "
            >
              <span
                *ngIf="createDetailForm.get('version').errors.required"
                class="error"
                >Version is required</span
              >
              <span
                *ngIf="createDetailForm.get('version').errors.pattern"
                class="error"
                >Only number and dot is valid</span
              >
            </span>
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea
              name="description"
              class="form-control"
              formControlName="description"
              placeholder="Description"
            ></textarea>
            <span
              *ngIf="
                createDetailForm.get('description').errors &&
                (createDetailForm.get('description').touched ||
                  createDetailForm.get('description').dirty)
              "
            >
              <span
                *ngIf="createDetailForm.get('description').errors.required"
                class="error"
                >Description is required</span
              >
            </span>
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              class="saveBtn"
              *ngIf="!loaderbutton"
              [ngStyle]="{
                opacity: !createDetailForm.valid ? '0.6' : '1'
              }"
              [disabled]="!createDetailForm.valid"
            >
              {{ detailId ? "Update" : "Submit" }}
            </button>
            <button class="buttonload saveBtn" *ngIf="loaderbutton">
              <i class="fa fa-refresh fa-spin"></i>
              {{ detailId ? "Updating...." : "Submitting...." }}
            </button>
            <button type="button" class="cancelBtn" (click)="close()">
              Back
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
