<div class="container-container">
    <div class="row">
        <form action="" class="form-inline">
            <div class="col-3 ">
                <div class="form-group ">
                    <input type="text" placeholder="Search here..." id="myInput" (keyup)=onKeydownEvent() class="form-control ">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group d-flex " (change)="OnselectSearch($event.target.value)">
                    <select name="" id="" class="form-control">
                   <option value="1">Search By Customer</option>
                   <option value="2">Search By Product Family</option>
                   <option value="3">Search By Product Code</option>
                   <option value="5">Search By Licence Count</option>
                   <option value="6">Search By Licence Type</option>
                   <option value="8">Search By Expiration Period</option>
                  </select>
                </div>
            </div>
            <div class="col-3 ">
                <div class="form-group" (change)="OnselectSortItem($event.target.value)">
                    <select name="" id="" class="form-control">
                   <option >Sort By..</option>
                   <option value="1">Search By Customer</option>
                   <option value="2">Search By Product Family</option>
                   <option value="3">Search By Product Code</option>
                   <option value="5">Search By Licence Count</option>
                   <option value="6">Search By Licence Type</option>
                   <option value="8">Search By Expiration Period</option>
                 </select>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group" (change)="OnPagination($event.target.value)">
                    <select name="" id="" class="form-control">
                   <option value="5" >5</option>
                   <option value="10">10</option>
                   <option value="15">15</option>
                   <option value="300">Show All</option>
                 </select>
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table table-hover table-stripped table-sm  mt-3" id="myTable">
    <thead class="users_table_hader">
        <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">Customer </th>
            <th scope="col" class="text-center">Product Family</th>
            <th scope="col" class="text-center">Product Code</th>
            <th scope="col" class="text-center">Version</th>
            <th scope="col" class="text-center">Licence Count</th>
            <th scope="col" class="text-center">Licence Type</th>
            <th scope="col" class="text-center">Project Status</th>
            <th scope="col" class="text-center">Expiration Period</th>
            <th scope="col" class="text-center">Start Date</th>
            <th scope="col" class="text-center ">Select</th>
            <th scope="col" class="text-center ">Update</th>
            <th scope="col" class="text-center">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of myProjectDetail| slice:0:item; index as i">
            <td scope="row" class="pl-2">{{i+1}}</td>
            <td>{{item.customerName}}</td>
            <td class="text-center">{{item.ProductFamily}}</td>
            <td class="text-center">{{item.productCode}}</td>
            <td class="text-dark text-center">{{item.Version}}</td>
            <td class="text-center">{{item.Users}}</td>
            <td>{{item.LicenceType}}</td>
            <td [style.color]="item.ProjectStatus=='REJECTED' ? 'red':'green' && item.ProjectStatus=='Pending' ? 'blue':'green' ">{{item.ProjectStatus}}</td>
            <td>{{item.ExpirationPeriod}}</td>
            <td>{{item.StartDate}}</td>
            <td>{{item.EndDate}}</td>
            <td> <i class="fa fa-pencil text-success ml-3"></i> </td>
            <td> <i class="fa fa-trash text-danger ml-3" (click)="DeleteProject(i)"></i> </td>
        </tr>
    </tbody>
</table>
<h6 class="text-center text-danger" *ngIf="msg">Data is not Available</h6>
<button class="btn btn-outline-success mr-2 pull-right">Submit</button>
<button class="btn btn-info myButton" routerLink="/main/createProject"><i class="fa fa-file-text-o"></i> Create New Project</button>
<div class="container">
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-danger">Reason of Rejection</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <form action="">
                                    <h6>This project has rejected this project because the given detail is not proper. There is mistakes in many fields. Please reform it.</h6>
                                    <button type="button" class="btn btn-outline-danger  pull-right" data-dismiss="modal">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
