<div class="row">
  <div class="col-12">
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="createUserForm"
      class="form_main"
    >
      <h3>{{ userId ? "Edit" : "Add" }} User</h3>
      <div class="input_feild pt-0">
        <div class="category_col">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label>Name <span class="required">*</span></label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                  name="name"
                  placeholder="Name"
                />
                <span
                  *ngIf="
                    createUserForm.get('name').errors &&
                    (createUserForm.get('name').touched ||
                      createUserForm.get('name').dirty)
                  "
                >
                  <span
                    *ngIf="createUserForm.get('name').errors.required"
                    class="error"
                    >Name is required</span
                  >
                  <span
                    *ngIf="createUserForm.get('name').errors.pattern"
                    class="error"
                    >only alphabets are allowed</span
                  >
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Username <span class="required">*</span></label>
                <input
                  type="text"
                  class="form-control"
                  [readonly]="userId"
                  formControlName="username"
                  name="username"
                  placeholder="Username"
                />
                <span
                  *ngIf="
                    createUserForm.get('username').errors &&
                    (createUserForm.get('username').touched ||
                      createUserForm.get('username').dirty)
                  "
                >
                  <span
                    *ngIf="createUserForm.get('username').errors.required"
                    class="error"
                    >username is required</span
                  >
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Email <span class="required">*</span></label>
                <input
                  type="email"
                  class="form-control"
                  formControlName="email"
                  name="email"
                  placeholder="Email"
                />
                <span
                  *ngIf="
                    createUserForm.get('email').errors &&
                    (createUserForm.get('email').touched ||
                      createUserForm.get('email').dirty)
                  "
                >
                  <span
                    *ngIf="createUserForm.get('email').errors.required"
                    class="error"
                    >Email is required</span
                  >
                  <span
                    *ngIf="createUserForm.get('email').errors.email"
                    class="error"
                    >Enter a valid Email</span
                  >
                  <!-- <span
                    *ngIf="createUserForm.get('email').errors.email"
                    class="error"
                    >Enter a valid Email</span
                  > -->
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Contact Number <span class="required">*</span></label>
                <input
                  type="tel"
                  class="form-control"
                  formControlName="contactNo"
                  name="contactNo"
                  placeholder="Contact Number"
                />
                <span
                  *ngIf="
                    createUserForm.get('contactNo').errors &&
                    (createUserForm.get('contactNo').touched ||
                      createUserForm.get('contactNo').dirty)
                  "
                >
                  <span
                    *ngIf="createUserForm.get('contactNo').errors.required"
                    class="error"
                    >ContactNo is required</span
                  >
                  <span
                    *ngIf="createUserForm.get('contactNo').errors.pattern"
                    class="error"
                    >Only numbers are required</span
                  >
                  <span
                    *ngIf="createUserForm.get('contactNo').errors.maxlength"
                    class="error"
                  >
                    maximum 10 digits allowed</span
                  >
                  <span
                    *ngIf="createUserForm.get('contactNo').errors.minlength"
                    class="error"
                    >mimimum 10 digits required</span
                  >
                </span>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group mb-0">
                <label class="mb-0">Select Role <span class="required">*</span></label>
                <small class="text-danger" *ngIf="selected"
                >Please select atleast one role</small
              >
              </div>
              <div class="authorities_main" id="roles">
             
                <div *ngFor="let item of dropdownList" class="checkbox_main">
                  <div class="checkbox_box">
                    <input
                      type="checkbox"
                      selected="true"
                      [checked]="isChecked(item)"
                      name="check"
                      id="authCheck"
                      value="{{ item.id }}"
                      (change)="onChangeRole(item)"
                    />
                    <span>{{ item.name }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          *ngIf="!loaderbutton"
          [disabled]="!createUserForm.valid"
          [ngStyle]="{
            opacity: !createUserForm.valid ? '0.6' : '1'
          }"
          class="saveBtn"
        >
          {{ userId ? "Update" : "Submit" }}
        </button>
        <button class="saveBtn" *ngIf="loaderbutton">
          <i class="fa fa-refresh fa-spin"></i>
          {{ userId ? "Updating...." : "Submitting...." }}
        </button>
        <!-- <button
              type="button"
              class="btn btn-danger ml-auto"
              (click)="cancel()"
            >
              <i class="fa fa-times"></i> Reset
            </button> -->
        <button type="button" class="cancelBtn" (click)="goback()">
          Back
        </button>
      </div>
    </form>
  </div>
</div>
