<table class="table table-hover table-stripped table-bordered table-sm  ">
    <thead class="bg-warning">
        <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">Customer </th>
            <th scope="col" class="text-center">ID</th>
            <th scope="col" class="text-center">Unique Access ID</th>
            <th scope="col" class="text-center">Product Code</th>
            <th scope="col" class="text-center">Version</th>
            <th scope="col" class="text-center">Licence Type</th>
            <th scope="col" class="text-center">Expiration Period</th>
            <th scope="col" class="text-center">Start Date</th>
            <th scope="col" class="text-center">End Date</th>


        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of logs index as i">
            <th scope="row" class="pl-2">{{i+1}}</th>
            <td>{{item.customerName}}</td>
            <td class="text-center">{{item.id}}</td>
            <td class="text-center">{{item.uniqueAccessId}}</td>
            <td class="text-center">{{item.productCode}}</td>
            <td class="text-dark text-center">{{item.Version}}</td>
            <td class="text-center">{{item.LicenceType}}</td>
            <td class="text-center">{{item.ExpirationPeriod}}</td>
            <td class="text-center">{{item.StartDate}}</td>
            <td class="text-center">{{item.EndDate}}</td>

        </tr>
    </tbody>
</table>