<table>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Code</th>
      <th scope="col">Generated Key</th>
      <th scope="col">Remarks</th>
      <th scope="col">Expiry Period Type</th>
      <th scope="col">No of License</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let license of licenses; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ license.code }}</td>
      <td>{{ license.generatedKey }}</td>
      <td>{{ license.name }}</td>
      <td>{{ license.projectProduct.expirationPeriodType }}</td>
      <td>{{ license.projectProduct.licenseCount }}</td>
      <td>{{ license.projectProduct.startDate }}</td>
      <td>{{ license.projectProduct.endDate }}</td>
      <td>{{ license.projectProduct.status }}</td>
    </tr>
    <!-- <div *ngIf="!licenses?.length">
      No license is generated 
    </div> -->
  </tbody>
</table>
