.tab_main {
  width: 100%;
  display: inline-block;
  background: #364150;
  border: 1px solid #ddd;
  border-bottom: 0;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        color: #b4bcc8; 
        padding: 8px 40px;
        color: #c8c8c8;
        display: inline-block;
        text-decoration: none;
        border-right: 1px solid #d8d8d8;
        text-transform: uppercase;
        font-size: 14px;
        border-top: 7px solid #697a79;
        transition: 0.4s;
        &.active {
          background: #ffffff;
          color: #636060;
          border-top: 7px solid #29aba4;
        }
      }
    }
  }
}


