.cursor {
  cursor: pointer;
}

.table_scroll {
  height: calc(100vh - 109px);
}
.highlight {
  background-color: #29aba4;
}
.highlight td {
  color: #fff;
}

.custom_modal_main {
  background: rgba(0, 0, 0, 0.5);

}