.padding {
  padding: 0px;
}
.cursor {
  cursor: pointer;
}
.table_scroll {
  height: calc(100vh - 73px);
}

.rahul {
  padding: 0px 5px !important;
  border: 1px solid #29aba4;
  font-size: 14px;
  display: inline-block;
  line-height: 21px;
  background: transparent !important;
  color: #29aba4;
  border-radius: 3px;
  margin: 2px 4px;
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    // vertical-align: bottom;
    font-weight: bold;
    line-height: normal;
    vertical-align: text-top;
  }
&.added_product {
  border: 1px solid #58b687;
  i{
    margin: 0;
    padding: 0 5px;
    vertical-align: middle;
    color: #58b687;
  }
}
}
.view {
  color: #795548;
  border: 1px solid #795548;
}
.pdf{
  color: #2e2e2e;
  border: 1px solid #2e2e2e;
}
.custom_button{
  padding: 0.8px 10px;
  font-size: 13px;
  min-width: 43px;
  margin: 0 2px;
}
.top_tooltip{
  position: relative;
  display: inline-block;
  width: auto;
 span{
  position: absolute;
  top: -36px;
  left: auto;
  background: #29aba4 !important;
  min-width: 90px;
  text-align: center; 
  right: 0px;
  white-space: nowrap;
  &:after{
    content: "";
    border-top: 10px solid #29aba4 !important;
    bottom: -9px;
    left: auto;
    right: 3px;
  }
 }
 &:hover{
  span{
    display: block;
    animation: top .5s;
  }
}
}