.fa-eye {
    position: absolute;
    right: 20px;
    top: 12px;
}

.fa-eye-slash {
    position: absolute;
    right: 20px;
    top: 12px;
}

input.ng-invalid.ng-touched {
    border: 1.4px solid red;
}

input.ng-valid {
    // border: 1.4px solid green;
}

// .form-control {
//     border-top: 0;
//     border-left: 0;
//     border-right: 0;
//     border-bottom: 1.4px solid;
//     box-shadow: none;
// }
::placeholder {
    color: rgb(122, 114, 114);
    opacity: 1;
}

.form-control {
    box-shadow: none;
}
