input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

::placeholder {
    color: rgb(122, 114, 114);
    opacity: 1;
}
.create_customer_popup{
    position: fixed;
    top: 0px;
    color: #fff;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    z-index: 222;
    height: 100%;
     .main_form {
        display: inline-block;
        width: 100%;
        max-width: 650px;
        background: #fff;
        box-shadow: none;
        position: relative;
        padding: 15px;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
    }
}