<div class="container-container">
    <div class="row">
        <div class="col-lg-12 p-0">
            <div class="form_main ">
                <!-- Create new Customer -->
                <div id="myDIV" class="create_customer_popup" style=" display: none;">
                    <div class="main_form">
                        <button _ngcontent-wmb-c63="" type="button" data-dismiss="modal" class="close">×</button>
                        <h3 class="text-center text-info">Create Customer</h3>
                        <form class="mt-4">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="customername">Name<span>*</span></label>
                                        <input type="text" name="CustomerName" [(ngModel)]="model.CustomerName" class="form-control" id="inputEmail3" placeholder="Name" #cusName='ngModel' ngModel required>
                                        <small class="text-danger" *ngIf="!cusName.valid && cusName.touched"><strong></strong>Name
                                            required</small>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="customername">Contact Number</label>
                                        <input type="number" name="Contactnumber" [(ngModel)]="model.Contactnumber" class="form-control" id="contactnumber" placeholder="Contact Number" #Connumber='ngModel' ngModel required>
                                        <small class="text-danger" *ngIf="!Connumber.valid && Connumber.touched"><strong></strong>Contact Number
                                            required</small>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="userId">User Id <span>*</span></label>
                                        <input type="text" name="UserId" [(ngModel)]="model.UserId" class="form-control" id="inputEmail3" placeholder="User Id" #cusId='ngModel' ngModel required>
                                        <small class="text-danger" *ngIf="!cusId.valid && cusId.touched"><strong></strong>User Id
                                            required</small>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="userId">Email Id <span>*</span></label>
                                        <input type="text" name="EmailId" [(ngModel)]="model.EmailId" class="form-control" id="inputEmail3" placeholder="Mail Id" email #mailId='ngModel' ngModel [required]='checked'>
                                        <small class="text-danger" *ngIf="!mailId.valid && mailId.touched">Valid mail Id
                                            required</small>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="password">Password <span>*</span></label>
                                        <input name="password" [(ngModel)]="model.password" [type]="password ? 'password' :'text'" minlength='5' class="form-control" id="inputEmail3" placeholder="Password" #cusPass='ngModel' ngModel required>
                                        <div class="click_password" (click)="onEyeClick()">
                                            <i class="fa fa-eye" *ngIf="!eyeStatus"></i>
                                            <i class="fa fa-eye-slash" *ngIf="eyeStatus"></i>
                                        </div>
                                        <small class="text-danger" *ngIf="!cusPass.valid && cusPass.touched"><strong></strong>Password must be 6
                                            character</small>
                                    </div>
                                </div>
                                <div class="col-lg-12 p-0">
                                    <div class="custom-check">
                                        <div class="custom-checkbox ">
                                            <input type="checkbox" [checked]="checked" class="custom-control-input" id="customCheck" name="example1">
                                            <label for="customCheck">Do you want to send mail ?</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 p-0">
                                    <div class="button_btn text-center">
                                        <button class="btn btn-outline-info ml-3" type="submit"><i class="fa fa-floppy-o"
                                                aria-hidden="true"></i> Save Detail</button>
                                        <button type="button" (click)="onClear()" class="btn btn-outline-danger ml-3"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Clear</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                <!-- Craete New Project -->
                <div class="main_form">
                    <h3 class="text-center text-info">Create New Project</h3>
                    <form class="mt-4 ng-untouched ng-pristine ng-invalid" [formGroup]="myCreateProjectForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="userId">Customer</label>
                                    <select class="form-control" formControlName="customer">
                                        <option [ngValue]="null">Choose Customer</option>
                                        <option *ngFor="let item of customerName" value={{item.id}} >{{item.name}}</option>
                                    </select>
                                    <small class="text-danger" *ngIf="!myCreateProjectForm.get('customer').valid && myCreateProjectForm.get('customer').touched">Customer required</small>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group ">
                                    <label for="userId">Product Family</label>
                                    <select class="form-control" formControlName="ProductFamily" [(ngModel)]="selectedCountry.id" (change)="onSelect($event.target.value)">
                                    <option [ngValue]="null">Choose Product Family</option>
                                    <option *ngFor="let ProFamily of countries" value= {{ProFamily.id}}>{{ProFamily.name}}</option>
                                    </select>
                                    <small class="text-danger" *ngIf="!myCreateProjectForm.get('ProductFamily').valid && myCreateProjectForm.get('ProductFamily').touched">Product family required</small>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="userId">Product Code</label>
                                    <select class="form-control" formControlName="ProductCode">
                                    <option [ngValue]="null">Choose Product Code</option>
                                    <option *ngFor="let proCode of productcode " value= {{proCode.id}}>{{proCode.name}}</option>
                                    </select>
                                    <small class="text-danger" *ngIf="!myCreateProjectForm.get('ProductCode').valid && myCreateProjectForm.get('ProductCode').touched">Product Code required</small>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="userId">Version</label>
                                    <select class="form-control" formControlName="Version">
                                    <option [ngValue]="null">Choose Version</option>
                                    <option value="1">1.1</option>
                                    <option value="2">2.3</option>
                                    <option value="3">1.4</option>
                                </select>
                                    <small class="text-danger" *ngIf="!myCreateProjectForm.get('Version').valid && myCreateProjectForm.get('Version').touched">Version required</small>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group ">
                                    <label for="userId">Licence Type</label>
                                    <select class="form-control" formControlName="LicenceType">
                                    <option [ngValue]="null">Choose Licence Type</option>
                                        <option value="1">Commercial</option>
                                        <option value="2">Demo</option>
                                    </select>
                                    <small class="text-danger" *ngIf="!myCreateProjectForm.get('LicenceType').valid && myCreateProjectForm.get('LicenceType').touched">Licence Type required</small>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group ">
                                    <label for="userId">Licence Count</label>
                                    <input type="text" formControlName="LicenceCount" class="form-control" placeholder="Licence Count">
                                    <small class="text-danger" *ngIf="!myCreateProjectForm.get('LicenceCount').valid && myCreateProjectForm.get('LicenceCount').touched">Invalid Licence Count</small>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="password">Exp. Period</label>
                                    <select class="form-control" formControlName="ExpPeriod" (change)="onChangeExp($event)">
                                    <option [ngValue]="null">Choose Exp. Period</option>
                                        <option value="1">LifeTime</option>
                                        <option value="2">Limited</option>
                                    </select>
                                    <small class="text-danger" *ngIf="!myCreateProjectForm.get('ExpPeriod').valid && myCreateProjectForm.get('ExpPeriod').touched">Exp. Period required</small>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="password">Start Date</label>
                                    <input type="date" [(ngModel)]="model.Startdate" formControlName="Startdate" class="form-control">
                                    <small class="text-danger" *ngIf="!myCreateProjectForm.get('Startdate').valid && myCreateProjectForm.get('Startdate').touched">Start Date required</small>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group" *ngIf="ShowPeriod">
                                    <label for="password">End Date</label>
                                    <input type="text" [(ngModel)]="model.endDate" disabled class="form-control" formControlName="endDate">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group" *ngIf="ShowPeriod">
                                    <label for="password">Enter Period</label>
                                    <input type="text" id="abc" (change)="getChangeEventdate($event)" [(ngModel)]="model.period" formControlName="period" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="button_btn text-center">
                                    <button class="btn btn-outline-info ml-3" type="submit"><i class="fa fa-floppy-o"
                                            aria-hidden="true"></i> Save Detail</button>
                                    <button type="button" (click)="onClear()" class="btn btn-outline-danger ml-3"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Clear</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <button onclick="myFunction()" _ngcontent-hle-c54="" routerlink="/main/createUser" class="btn btn-info myButton" tabindex="0" ng-reflect-router-link="/main/createUser"><i _ngcontent-hle-c54="" class="fa fa-user-plus"></i> Create Customer</button>
            </div>
        </div>
    </div>
</div>
