.fa-eye {
    position: absolute;
    right: 20px;
    top: 12px;
}

.fa-eye-slash {
    position: absolute;
    right: 20px;
    top: 12px;
}

input.ng-invalid.ng-touched {
    border: 1.4px solid red;
}
::placeholder {
    color: rgb(122, 114, 114);
    opacity: 1;
}

.form-control {
    box-shadow: none;
}
