<div class="container">
    <div class="signup-form mt-4 ">
        <form #f='ngForm' (ngSubmit)="onSubmit()">
            <div class="form-header">
                <h2>Sign In</h2>
                <p>Input valid credentials to login !</p>
            </div>
            <div class="form-group">
                <div>
                    <h6 class="text-danger">{{msg}}</h6>
                </div>
                <label><strong>UserId</strong></label>
                <input type="text" #userId='ngModel' class="form-control" name="userid" [(ngModel)]="loginModel.userid" ngModel required>
                <small class="text-danger" *ngIf="!userId.valid && userId.touched">User Id required</small>
            </div>
            <div class="form-group">
                <label><strong>Password</strong></label>
                <input type="password" minlength="5" #psw="ngModel" class="form-control" name="password" [(ngModel)]="loginModel.password" ngModel required>
                <small class="text-danger" *ngIf="!psw.valid && psw.touched">Password must be 5 characters</small>
            </div>
            <div class="form-group">
                <small routerLink="/forget">Forget password ?</small>
            </div>

            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
                <input class="form-control d-none" data-recaptcha="true" required data-error="Please complete the Captcha">
                <div class="help-block with-errors"></div>

            </div>
            <div class="form-group">
                <button type="submit" [disabled]="!f.valid" class="btn btn-primary btn-block btn-lg">Sign In ? </button>
            </div>

        </form>

    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col-4">
            <h6>Admin : <span>Id: admin Password: 12345</span></h6>
            <h6>User : <span>Id: user Password: 12345</span></h6>
            <h6>Reviwer : <span>Id: reviewer Password: 12345</span></h6>
            <h6>Approval : <span>Id: approval Password: 12345</span></h6>
        </div>
    </div>
</div>
