<div class="password_change_forget">
    <div class="signup-form ">
        <form [formGroup]="myLoginForm" (ngSubmit)="onSubmit()">
            <div class="form-header">
                <h2>Sign In </h2>
            </div>
          
            <div class="form-group">
                <label>User Name</label>
                <input type="text" class="form-control" formControlName="userName" name="User Name">
            </div>
            <small class="text-danger" *ngIf="!myLoginForm.get('userName').valid && myLoginForm.get('userName').touched && myLoginForm.get('userName').dirty ">Valid User Id required </small>
            <div class="form-group">
                <label>Password</label>
               
                <input [type]="mypassword ? 'text' :'password'" minlength="5" formControlName="password" class="form-control" name="password">
                <div (click)="showHidePassword()">
                    <i class="fa fa-eye-slash" *ngIf="!showPassword"></i>
                    <i class="fa fa-eye" *ngIf="showPassword"></i>
                </div>
                
               
            </div>
            <small class="text-danger" *ngIf="!myLoginForm.get('password').valid && myLoginForm.get('password').touched && myLoginForm.get('password').dirty ">Password required  </small>
            <div class="form-group">
                <img src="assets\img\captcha.JPG" width="200" height="50" alt="" style="position: relative;">
                <p style="position: absolute;  top: 387px; left: 315;" onmousedown='return false;' onselectstart='return false;'><del>{{code}}</del></p>
                <button class=" btn-sm btn-info" type="button" style="margin-left: 12px;" (click)="generateCaptcha()"><i class="fa fa-refresh"></i></button>
                <input type="text" formControlName="myCaptchaValue" [(ngModel)]="myCaptchaValue" class="form-control mt-2 mr-5" placeholder="Input Captcha" (change)="onChangeCaptcha(myCaptchaValue)">
                <span *ngIf="captchaVAlue"> {{captchaMsg}}</span>
            </div>
            <div class="form-group">
                <small routerLink="/forget">Forget password ?</small>
            </div>
            <div class="form-group text-center">
                <button type="submit" [disabled]="myLoginForm.invalid " class="btn btn-primary btn-block btn-sm">{{SignIn? 'Sign In' :'Signing In... '}}  <span class="spinner-border spinner-border-sm ml-2" *ngIf="loader" role="status" aria-hidden="true"></span>
                  </button>
            </div>
            <h6 class="text-danger">{{msg}}</h6>
        </form>
    </div>
</div>
