.fa-eye {
    position: absolute;
    right: 20px;
    top: 12px;
    cursor: pointer;
}

.fa-eye-slash {
    position: absolute;
    right: 20px;
    top: 12px;
    cursor: pointer;
}

input.ng-invalid.ng-touched {
    border: 1.4px solid red;
}

input.ng-valid {
    border: 1.4px solid green;
}

.form-control {
    border: 1.4px solid green;
    box-shadow: none;
    width: 250px;
    float: right;
    height: 40px;
    padding: 5px;
}

::placeholder {
    color: rgb(122, 114, 114);
    opacity: 1;
}
