.padd {
    padding-left: 0px;
    padding-right: 0px;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    td {
        padding: 10px;
        font-size: 12px;
        border: 1px solid #ddd;
        color: #333;
        input.form-control {
            width: 100%;
            display: inline-block;
            padding: 0 5PX;
            float: none;
            text-align: center;
            background: none;
            border: 1px solid #ddd;
        }
        button.btn.ui-button-icon-only {
            color: #0a0ad8;
            font-size: 12px;
            padding: 4px 8px;
            border: 1px solid #0a0ad8;
            background: rgba(0,0,0,0.04);
            font-weight: 600;
            box-shadow: none;
            &:hover{
                color: #fff;
                background: #0e6cbd;
                border: 1px solid #0e6cbd;
            }
        }
        .btn-outline-success {
            color: #28a745;
            border: 1px solid #28a745;
            box-shadow: none;
            outline: none;
            font-size: 12px;
            font-weight: 600;
            padding: 4px 8px;
            background: rgba(0, 0, 0, 0.04);
            &:hover{
                background: #28a745;
                color: #fff;
                border: 1px solid #28a745;
            }
        }
    }
    tr:hover {
        background: rgba(0, 0, 0, 0.02);
    }
}