<div class="container-fluid">
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" routerLinkActive="active"
     routerLink="detail"  *ngIf="hasAuthority('PRODUCT_DETAIL_FETCH')">Products Detail</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" routerLinkActive="active"
     routerLink="family" *ngIf="hasAuthority('PRODUCT_FAMILY_FETCH')">Product Family</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" routerLinkActive="active"  
    routerLink="version" *ngIf="hasAuthority('VERSION_FETCH')" >Versions</a>
  </li>
</ul>
</div>
<!-- Tab panes -->
<div class="tab-content">
  <router-outlet></router-outlet>
</div>