.product_main {
    background: white;
    border: 1px solid #dadcde;
    h3{
        border-bottom: 1px solid #ddd;
        font-size: 14px;
        font-weight: 500;
        color: #555;
        padding: 10px 15px;
    }
    .product_details {
        width: 100%;
        display: inline-block;
        padding: 0 15px;
        padding-top: 4px;
        /* border-bottom: 1px solid #ddd; */
        label {
            font-size: 13px;
            font-weight: bold;
            margin: 0;
        }
        span {
            color: #676a6c;
            font-size: 13px;
            /* margin-left: 4px; */
            display: block;
            border-bottom: 1px solid #efefef;
            padding-bottom: 5px;
        }
    }

    
}
.added_pct_scl {
    max-height: 217px;
    overflow-y: auto;
    min-height: 217px;
    position: relative;
    height: 100%;
}
.nodata{
   
        font-size: 17px;
        text-align: center;
        padding: 30px 10px;
        color: #d42e2e;
        font-weight: 400;
    
}