<div class="table-responsive">
  <table>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">UserName</th>
        <th scope="col">Authorities</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
      <tr>
         <td>{{Name}}</td>
        <td>{{UserName}}</td>
        <td>
          <span class="badge badge-pill badge-info custom_badge"
          *ngFor ="let authorities of UserAuthorities">
          {{authorities.name}}

          </span>
        </td>
        <td>
          <span *ngFor ="let role of UserRole">
            {{role.name}}
            </span>
        </td>
      </tr>
</tbody>
</table>
</div>