<div class="d-flex" id="wrapper">

    <div class="bg-light border-right " id="sidebar-wrapper">
        <div class="sidebar-logo"> 
            <a href="#"><img src="assets/img/logo.png" class="logo" alt=""></a>
        </div>
        <div class="list-group list-group-flush">
            <ul>
                <li routerLink="/main/users" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="list-group-item list-group-item-action">Users</li>
                <li routerLink="/main/projectDetail" routerLinkActive="active" class="list-group-item list-group-item-action">Project Detail</li>
                <li routerLink="/main/license" routerLinkActive="active" class="list-group-item list-group-item-action" (click)="subMenu1()">Licence <i class="fa fa-chevron-down "></i></li>
                <div *ngIf="submenu">
                    <div class="dropdown_sidebar">
                        <ul>
                            <li routerLinkActive="check_menu" [routerLinkActiveOptions]="{ exact: true }" routerLink="/main/licence"> <i class="fa fa-check" aria-hidden="true"></i> View</li>
                            <li  routerLinkActive="check_menu" routerLink="/main/updateLicence"> <i class="fa fa-check" aria-hidden="true"></i> Update Licence Key</li>
                            <li  routerLinkActive="check_menu" routerLink="/main/renewLicence"> <i class="fa fa-check" aria-hidden="true"></i> Renew Licence Key</li>
                        </ul>
                    </div>
                </div>
                <li routerLink="/main/logs" routerLinkActive="active" class="list-group-item list-group-item-action">View Licence Key</li>
                <li routerLink="/main/changePsw" routerLinkActive="active" class="list-group-item list-group-item-action">Change Password</li>
            </ul>
        </div>
    </div>
    <div id="page-content-wrapper">
        <div class="header_main">
            <div class="Toggle_button">
                <button  id="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></button>
            </div>
            <div class="manu">
                <ul >
                    <li><a href="#">Manoj</a><img src="assets/img/admin.jpg" class="img-fluid userImage" alt="" style="width: 50px;height: 50px;"></li>
                    
                    <li><a  href="#"  (click)="logout()" style="cursor: pointer;">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container-fluid">
            <div class="middle-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>


</div>