body {
    overflow-x: hidden;
}

.btn:focus {
    outline: none;
    border: 1px solid white;
}

.btn {
    border: 1px solid #17a2b8;
}

.navbar-toggler {
    outline: none;
}

.home {
    color: black;
    opacity: .8;
}


h6:focus {
    outline: none;
}

.active {
    color: white;
    border: none;
    background: #17a2b8 !important;
    ;
}

.list-group-item {
    cursor: pointer;
}

.userImage {
    border-radius: 50%;
    border: 2px solid #17a2b8!important;
    ;
}

#sidebar-wrapper {
    width: 100%;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}



#page-content-wrapper {
   max-width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
        position: fixed;
        z-index: 33;
        margin-top: 0;
        width: 250px;
    }
    #page-content-wrapper {
        width: calc(100% - 250px);
        position: relative;
        float: right;
        display: inline-block;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.submenu {
    cursor: pointer;
    box-shadow: none;
}

.active1 {
    background: rgb(173, 168, 168);
    box-shadow: none;
}

.ml-6 {
    margin-left: 7rem!important;
}

div#sidebar-wrapper {
   .list-group {
    width: 100%;
        display: inline-block;
        padding-bottom: 20px;
    .list-group-item {
        background-color: transparent;
        color: #333;
    }
    .active {
        color: white !important;
        background: #333 !important;
    }
    
}
}

.middle-content {
    margin-top: 90px;
    box-shadow: 0 0 5px #ddd;
    padding: 20px;
}
.toggled {
    #page-content-wrapper {
        width: 100%;
        display: inline-block;
    }
}
