<div class="col-12 p-0">
  <div class="site_main">
    <!-- <button (click)="exportProjectProducts()">Export ProjectProducts</button>
    <button (click)="PdfProjectProducts()">PDF Download</button> -->

    <form [formGroup]="searchProjectProductsForm">
      <div class="search_bar">
        <input
          type="text"
          formControlName="Search"
          class="form-control"
          placeholder="Search here.."
          (ngModelChange)="onsearchProjectProductsForm($event)"
        />
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </form>
    <!-- <div class="search_bar">
      <form [formGroup]="form">
        <input
          type="text"
          autocomplete="off"
          name="search"
          formControlName="search"
          placeholder="Search here "
          [(ngModel)]="term"
          class="form-control"
        />
        <i class="fa fa-search"></i>
      </form>
    </div> -->

    <form [formGroup]="filterStatusForm">
      <div class="search_bar">
        <!-- <label>Product Status </label> -->
        <!-- <span class="fa fa-filter" aria-hidden="true"></span> -->
        <label>Filter by Status</label>
        <select
          class="form-control"
          name="productStatus"
          formControlName="productStatus"
          (ngModelChange)="getStatus($event)"
        >
          <option>All</option>
          <option *ngFor="let project of productCountsStatus">
            {{ project.status }}
          </option>
        </select>
      </div>
    </form>
    <div class="table_scroll">
      <table class="m-0">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product Detail</th>
            <th scope="col">No of License</th>
            <th scope="col">License Type</th>
            <th scope="col" style="min-width: 100px;">Start Date</th>
            <th scope="col" style="min-width: 100px;">End Date</th>
            <th scope="col">Customer Details</th>
            <th scope="col">Project Type</th>
            <th scope="col" style="min-width: 110px;">
              Status
              <div class="shorting">
                <button (click)="sortAphabetically()">
                  <span class="material-icons">
                    arrow_upward
                  </span>
                </button>
                <button (click)="reverseAphabetically()">
                  <span class="material-icons">
                    arrow_downward
                  </span>
                </button>
              </div>
              <!-- <button (click)="sortAphabetically()">up</button>
              <button (click)="reverseAphabetically()">down</button> -->
            </th>
            <th scope="col" style="min-width: 112px;">
              Action
            </th>
          </tr>
        </thead>

        <tbody id="accordion">
          <ng-container *ngFor="let project of projectProducts; index as i">
            <tr id="{{ project.id }}" class="">
              <td>{{ i + 1 }}</td>
              <td class="product_family">
                <span>{{ project.productDetail.productFamilyName }}</span>
                <span>{{ project.productDetail.productCodeName }}</span>
                <span> {{ project.productDetail.versionName }} </span>
              </td>
              <td>
                {{ project.licenseCount }}
              </td>

              <td *ngIf="project.licenseTypeName">
                {{ project.licenseTypeName }}
              </td>
              <td *ngIf="!project.licenseTypeName">NA</td>
              <!-- <td>{{ project.expirationPeriodType }}</td>
              <td *ngIf="project.expirationPeriodType == 'LIMITED'">
                {{ project.expirationMonthCount }}
              </td> -->
              <!-- <td *ngIf="project.expirationPeriodType == 'LIFETIME'">NA</td> -->
              <td>{{ project.startDate }}</td>
              <td>
                {{ project.endDate }}
              </td>

              <td>
                {{ project.project.customerName }}
                <br />
                ({{ project.project.customerEmail }})
              </td>
              <td>{{ project.project.projectTypeName }}</td>
              <td>
                {{ project.status }}
                <br />
                <a
                  class="comments"
                  *ngIf="project.comments.length"
                  (click)="showComments(project); $event.stopPropagation()"
                  >comments
                </a>
              </td>
              <td>
                <a
                  class="edit_button text-success"
                  *ngIf="
                    project.status == 'DRAFT' &&
                    hasAuthority('PROJECT_PRODUCT_UPDATE')
                  "
                  (click)="editProduct(project)"
                >
                  <i class="fa fa-edit"></i>
                </a>
                <a
                  class="delete_button text-danger"
                  *ngIf="
                    project.status == 'DRAFT' &&
                    hasAuthority('PROJECT_PRODUCT_DELETE')
                  "
                  (click)="deleteProduct(project)"
                >
                  <i class="fa fa-trash"></i>
                </a>
                <button
                  type="button"
                  class="t_save_btn"
                  *ngIf="
                    project.status == 'DRAFT' &&
                    hasAuthority('PROJECT_PRODUCT_SUBMIT')
                  "
                  (click)="submitProductStatus(project)"
                >
                  Submit
                </button>
                <button
                  type="button"
                  class="t_save_btn bg-success"
                  (click)="recallProductStatus(project)"
                  *ngIf="
                    project.status == 'SUBMIT' &&
                    checkRole('submitter') &&
                    hasAuthority('PROJECT_PRODUCT_UNDO')
                  "
                >
                  Recall
                </button>

                <button
                  type="button"
                  class="t_save_btn"
                  *ngIf="
                    project.status == 'SUBMIT' &&
                    checkRole('Project Manager') &&
                    hasAuthority('PROJECT_PRODUCT_REVIEW')
                  "
                  (click)="reviewProductStatus(project)"
                >
                  Review
                </button>
                <button
                  type="button"
                  class="t_save_btn bg-danger"
                  (click)="rejectProductStatus(project)"
                  *ngIf="
                    project.status == 'SUBMIT' &&
                    checkRole('Project Manager') &&
                    hasAuthority('PROJECT_PRODUCT_REJECT')
                  "
                >
                  Reject
                </button>
                <button
                  class="t_save_btn"
                  type="button"
                  *ngIf="
                    project.status == 'REVIEWED' &&
                    checkRole('Approver') &&
                    hasAuthority('PROJECT_PRODUCT_APPROVE')
                  "
                  (click)="approveProductStatus(project)"
                >
                  Approve
                </button>
                <button
                  type="button"
                  *ngIf="
                    project.status == 'REVIEWED' &&
                    checkRole('Approver') &&
                    hasAuthority('PROJECT_PRODUCT_REJECT')
                  "
                  class="t_save_btn bg-danger"
                  (click)="rejectProductStatus(project)"
                >
                  Reject
                </button>
                <button
                  type="button"
                  class="t_save_btn bg-success"
                  (click)="recallProductStatus(project)"
                  *ngIf="
                    project.status == 'REVIEWED' &&
                    checkRole('Project Manager') &&
                    hasAuthority('PROJECT_PRODUCT_UNDO')
                  "
                >
                  Recall
                </button>
                <button
                  type="button"
                  class="roleactive"
                  *ngIf="
                    project.status == 'APPROVED' &&
                    hasAuthority('PROJECT_PRODUCT_RENEW') &&
                    hasRenewDays(project) &&
                    project.licenseTypeName == 'COMMERCIAL'
                  "
                  (click)="
                    renewProductStatus(project); $event.stopPropagation()
                  "
                >
                  Renew
                </button>
                <button
                  type="button"
                  class="t_save_btn"
                  data-toggle="collapse"
                  [attr.data-target]="'#collapse' + i"
                  #c
                  *ngIf="
                    project.status == 'APPROVED' &&
                    hasAuthority('LICENSE_FETCH')
                  "
                >
                  View License
                </button>
                <form
                  [formGroup]="form"
                  *ngIf="
                    project.status == 'APPROVED' &&
                    hasAuthority('LICENSE_FETCH')
                  "
                >
                  <input
                    type="file"
                    (change)="uploadedFile($event, project)"
                    accept=".xlsx"
                    formControlName="search"
                  />
                  <button (click)="sendExcel()" *ngIf="project.isFile">
                    send
                  </button>
                </form>
                <button
                  type="button"
                  class="mt-1 roleactive"
                  *ngIf="
                    project.status == 'APPROVED' &&
                    hasAuthority('LICENSE_REQUEST_CREATE')
                  "
                  (click)="saveProjectLicenseById(project)"
                >
                  Request
                </button>

                <button
                  type="button"
                  class="t_save_btn"
                  data-toggle="collapse"
                  [attr.data-target]="'#collapse' + i"
                  #c
                  *ngIf="
                    project.status == 'RENEWED' && hasAuthority('LICENSE_FETCH')
                  "
                >
                  View License
                </button>
                <form
                  [formGroup]="form"
                  *ngIf="
                    project.status == 'RENEWED' && hasAuthority('LICENSE_FETCH')
                  "
                >
                  <input
                    type="file"
                    (change)="uploadedFile($event, project)"
                    accept=".xlsx"
                    formControlName="search"
                  />
                  <button (click)="sendExcel()" *ngIf="project.isFile">
                    send
                  </button>
                </form>

                <button
                  type="button"
                  class="roleactive mt-1"
                  *ngIf="
                    project.status == 'RENEWED' &&
                    hasAuthority('LICENSE_REQUEST_CREATE')
                  "
                  (click)="saveProjectLicenseById(project)"
                >
                  Request
                </button>
                <a
                  class="edit_button text-success"
                  *ngIf="
                    project.status == 'REJECT' &&
                    hasAuthority('PROJECT_PRODUCT_UPDATE')
                  "
                  (click)="editProduct(project)"
                >
                  <i class="fa fa-edit"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td colspan="12" class="padding" *ngIf="project.licenses.length">
                <div
                  [attr.id]="'collapse' + i"
                  class="collapse"
                  data-parent="#accordion"
                >
                  <!-- <div *ngIf="project.status !== 'APPROVED'">
                    <p class="text-black-50 text-center pt-3">
                      No License Available Now
                    </p>
                  </div> -->
                  <div class="sub_table mt-3 p-0">
                    <h3>License Detail</h3>
                    <table
                      class=""
                      *ngIf="
                        project.status == 'APPROVED' ||
                        project.status == 'RENEWED'
                      "
                    >
                      <tr class="text-primary">
                        <th scope="col">#</th>
                        <th scope="col">Code</th>
                        <th scope="col">Remarks</th>
                        <th scope="col">Unique Access ID.</th>
                        <th scope="col">Generated License Key</th>
                        <th scope="col">Action</th>
                      </tr>
                      <tr *ngFor="let license of project.licenses; index as i">
                        <td>{{ i + 1 }}</td>
                        <td>{{ license.code }}</td>
                        <td *ngIf="!license.generatedKey || license.edit">
                          <input
                            class="tableinput"
                            type="text"
                            placeholder="Name"
                            name="name"
                            [(ngModel)]="license.name"
                          />
                        </td>
                        <td *ngIf="!license.generatedKey || license.edit">
                          <input
                            class="tableinput"
                            type="text"
                            placeholder="Access ID"
                            name="accessId"
                            [(ngModel)]="license.accessId"
                          />
                        </td>
                        <td *ngIf="license.generatedKey && !license.edit">
                          {{ license.name }}
                        </td>
                        <td *ngIf="license.generatedKey && !license.edit">
                          {{ license.accessId }}
                        </td>
                        <td *ngIf="license.generatedKey">
                          {{ license.generatedKey }}
                        </td>
                        <td *ngIf="!license.generatedKey">NA</td>
                        <td *ngIf="license.edit">
                          <button
                            *ngIf="hasAuthority('LICENSE_UPDATE')"
                            type="button"
                            class="t_save_btn"
                            (click)="updateLicensekey(license)"
                          >
                            Update License Key
                          </button>
                        </td>
                        <td
                          *ngIf="
                            (license.generatedKey || license.update) &&
                            !license.edit
                          "
                        >
                          <button
                            type="button"
                            class="edit_button text-success"
                            (click)="editLicensekey(license)"
                          >
                            <i class="fa fa-edit"></i>
                          </button>
                        </td>
                        <td *ngIf="!license.generatedKey">
                          <button
                            *ngIf="hasAuthority('LICENSE_UPDATE')"
                            type="button"
                            class="t_save_btn"
                            (click)="generateLicensekey(license)"
                          >
                            Generate License Key
                          </button>
                        </td>

                        <!-- <td> <input type="text" placeholder="Access ID" name="accessId" #accessId></td>
                  <td><button type="button" (click)="generateLicensekey(licenses)"> Generate License Key</button></td> -->
                      </tr>
                    </table>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div *ngIf="isloader" class="loader">
        <img class="loader_gif" src="assets/images/loader3.gif" alt="" />
      </div>

      <div class="no_product" *ngIf="!projectProducts?.length && !isloader">
        <h2>
          <img src="assets/images/alert.svg" alt="" /> No Project-Products
          Available Now
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
  <div class="custom_modal_main">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header mb-0">
          <h4 class="modal-title">
            Enter Comment for
            <span>
              (
              {{ selectedProductFamily }}
              {{ selectedProductCode }}
              {{ selectedProductVersion }} )</span
            >
          </h4>

          <button
            type="button"
            class="close"
            data-dismiss="modal"
            (click)="hide(selectedProduct.id)"
          >
            &times;
          </button>
        </div>

        <form (ngSubmit)="onSubmitComment()" [formGroup]="popUpForm">
          <div class="modal-body p-3">
            <!-- <div class="product_details_popup">
              <label>Product Details:</label>
              <span
                >{{ selectedProductCode }}
                {{ selectedProductFamily }}
                {{ selectedProductVersion }}</span
              >
            </div> -->
            <div class="form-group mb-0">
              <label for="">Comment <span class="required">*</span></label>
              <textarea
                class="form-control"
                formControlName="comment"
                name="comment"
              ></textarea>
              <span
                *ngIf="
                  popUpForm.get('comment').errors &&
                  (popUpForm.get('comment').touched ||
                    popUpForm.get('comment').dirty)
                "
              >
                <span
                  *ngIf="popUpForm.get('comment').errors.required"
                  class="error"
                >
                  Comment is required</span
                >
              </span>
            </div>
          </div>
          <div class="modal-footer">
            <button
              class="saveBtn"
              type="submit"
              [ngStyle]="{
                opacity: !popUpForm.valid ? '0.6' : '1'
              }"
              [disabled]="!popUpForm.valid"
            >
              {{ commentSubmitButton }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="myModal"
  [style.display]="showCommentModal ? 'block' : 'none'"
>
  <div class="custom_modal_main">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            Comments for
            <span>
              (
              {{ selectedProductFamily }}
              {{ selectedProductCode }}
              {{ selectedProductVersion }} )
            </span>
          </h4>
          <!-- <button
            type="button"
            class="close"
            data-dismiss="modal"
            (click)="hideCommentModel(selectedComment)"
          >
            &times;
          </button> -->
        </div>

        <div class="modal-body overflow-hidden mb-3">
          <!-- <div class="product_details_popup text-center">
            <label>Product Details:</label>
            <span>
              {{ selectedProductCode }}
              {{ selectedProductFamily }}
              {{ selectedProductVersion }}
            </span>
          </div> -->
          <!-- <div class="coment_list_content">
            <ul *ngFor="let c of comments">
              <li>
                <div class="comnent_main" *ngIf="!hasUserId(c)">
                  <label>NAME:</label> <span> {{ c.commentedBy }}</span>
                </div>
                <div class="comnent_main" *ngIf="hasUserId(c)">
                  <label>NAME:</label> <span>Me</span>
                </div>
                <div class="comnent_main">
                  <label>COMMENT:</label> <span>{{ c.comment }}</span>
                </div>

                <div class="comnent_main">
                  <label> Action:</label> <span>{{ c.remark }}</span>
                </div>
                <div class="comnent_main">
                  <span class="time">{{ c.createdAt | date: "medium" }}</span>
                </div>
              </li>
            
            </ul>
          </div> -->
          <div class="ibc-code-section">
            <div class="container">
              <div class="row">
                <div class="ibc-code-main">
                  <div class="main_box">
                    <div class="box_com" *ngFor="let c of comments">
                      <div class="left_box">
                        <p>
                          {{ c.comment }}
                        </p>
                        <h5>{{ c.remark }}</h5>
                        <h6>{{ c.createdAt | date: "medium" }}</h6>
                      </div>
                      <div class="right_box">
                        <div class="img_box_main">
                          <div class="img_box">
                            <img src="assets/images/profile1.jpg" />
                          </div>
                        </div>
                        <div class="text_box">
                          <h2 *ngIf="!hasUserId(c)">
                            {{ c.commentedBy }}
                          </h2>
                          <h2 *ngIf="hasUserId(c)">
                            me
                          </h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal_footer">
          <button
            class="cancelBtn"
            type="button"
            data-dismiss="modal"
            (click)="hideCommentModel(selectedComment)"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="myModal"
  [style.display]="showRenewModal ? 'block' : 'none'"
>
  <div class="custom_modal_main">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            Renew for
            <span
              >( {{ selectedProductFamily }}
              {{ selectedProductCode }}
              {{ selectedProductVersion }} )</span
            >
          </h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            (click)="hideRenewModel(selectedProduct.id)"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <form
            (ngSubmit)="onSubmitStartDate()"
            [formGroup]="popUpStartDateForm"
          >
            <div class="modal-body">
              <div class="form-group">
                <label>Start Date <span class="required">*</span></label>
                <input
                  type="date"
                  class="form-control"
                  formControlName="startDate"
                  name="startDate"
                  [min]="getToday()"
                  [readonly]="startDateChange == false"
                />
                <span
                  *ngIf="
                    popUpStartDateForm.get('startDate').errors &&
                    (popUpStartDateForm.get('startDate').touched ||
                      popUpStartDateForm.get('startDate').dirty)
                  "
                >
                  <span
                    *ngIf="popUpStartDateForm.get('startDate').errors.required"
                    class="field_error"
                  >
                    Start Date is required</span
                  >
                </span>
              </div>
              <div class="form-group">
                <label
                  >Expiry Period (in months)
                  <span class="required">*</span></label
                >
                <input
                  type="number"
                  class="form-control"
                  formControlName="expirationMonthCount"
                  name="expirationMonthCount"
                />
                <span
                  *ngIf="
                    popUpStartDateForm.get('expirationMonthCount').errors &&
                    (popUpStartDateForm.get('expirationMonthCount').touched ||
                      popUpStartDateForm.get('expirationMonthCount').dirty)
                  "
                >
                  <span
                    *ngIf="
                      popUpStartDateForm.get('expirationMonthCount').errors.min
                    "
                    class="field_error"
                  >
                    Minimum 1 is required</span
                  >
                </span>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="submit"
                class="saveBtn"
                [ngStyle]="{
                  opacity: !popUpStartDateForm.valid ? '0.6' : '1'
                }"
                [disabled]="!popUpStartDateForm.valid"
              >
                Renew
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="myModal"
  [style.display]="showRequestModal ? 'block' : 'none'"
>
  <div class="custom_modal_main">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            License for
            <span
              >(
              {{ selectedProductFamily }}
              {{ selectedProductCode }}

              {{ selectedProductVersion }} )</span
            >
            Product
          </h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            (click)="hideRequestModel(selectedProduct.id)"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onSubmitRequest()" [formGroup]="popUpRequestForm">
            <div class="modal-body">
              <div class="form-group">
                <label>License Count <span class="required">*</span></label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="licenseCount"
                  name="licenseCount"
                />
                <span
                  *ngIf="
                    popUpRequestForm.get('licenseCount').errors &&
                    (popUpRequestForm.get('licenseCount').touched ||
                      popUpRequestForm.get('licenseCount').dirty)
                  "
                >
                  <span
                    *ngIf="popUpRequestForm.get('licenseCount').errors.required"
                    class="field_error"
                  >
                    License Count is required</span
                  >
                </span>
              </div>
              <div class="form-group">
                <label>Comment <span class="required">*</span> </label>
                <textarea
                  class="form-control"
                  formControlName="comment"
                  name="comment"
                ></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="submit"
                class="saveBtn"
                [ngStyle]="{
                  opacity: !popUpRequestForm.valid ? '0.6' : '1'
                }"
                [disabled]="!popUpRequestForm.valid"
              >
                Request
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
