<div class="site_main">
  <div class="table_scroll">
    <table>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product Detail</th>
          <th scope="col">No of License</th>
          <th scope="col">License Type</th>
          <th scope="col" style="min-width: 100px;">Start Date</th>
          <th scope="col" style="min-width: 100px;">End Date</th>
          <th scope="col">Customer Details</th>
          <th scope="col">Project Type</th>
          <th scope="col" style="min-width: 110px;">
            Status
            <div class="shorting">
              <button (click)="sortAphabetically()">
                <span class="material-icons">
                  arrow_upward
                </span>
              </button>
              <button (click)="reverseAphabetically()">
                <span class="material-icons">
                  arrow_downward
                </span>
              </button>
            </div>
            <!-- <button (click)="sortAphabetically()">up</button>
            <button (click)="reverseAphabetically()">down</button> -->
          </th>
          <th scope="col"  style="min-width: 112px;">Action</th>
        </tr>
      </thead>
      <tbody id="accordion">
        <ng-container *ngFor="let project of projectProduct; index as i">
          <tr>
            <td>{{ i + 1 }}</td>
            <td>
              {{ project.productDetailResponse.productCodeName }}
              {{ project.productDetailResponse.productFamilyName }}
              {{ project.productDetailResponse.versionName }}
            </td>
            <td>
              {{ project.licenseCount }}
            </td>

            <td *ngIf="project.licenseTypeName">
              {{ project.licenseTypeName }}
            </td>
            <td *ngIf="!project.licenseTypeName">NA</td>
            <!-- <td>{{ project.expirationPeriodType }}</td>
            <td *ngIf="project.expirationPeriodType == 'LIMITED'">
              {{ project.expirationMonthCount }}
            </td> -->
            <!-- <td *ngIf="project.expirationPeriodType == 'LIFETIME'">NA</td> -->
            <td>{{ project.startDate }}</td>
            <td *ngIf="project.expirationPeriodType == 'LIMITED'">
              {{ project.endDate }}
            </td>
            <td *ngIf="project.expirationPeriodType == 'LIFETIME'">NA</td>

            <td>
              {{ project.projectResponse.customerName }}
              <br />
              ({{ project.projectResponse.customerEmail }})
            </td>
            <td>{{ project.projectResponse.projectTypeName }}</td>
            <td>
              {{ project.status }}
              <br />
              <a
                class="cursor text-danger"
                *ngIf="project.comments.length"
                (click)="showComments(project); $event.stopPropagation()"
                >comments
              </a>
            </td>
            <td *ngIf="project.status == 'DRAFT'">
              <a
                class="edit_button text-success"
                *ngIf="hasAuthority('PROJECT_PRODUCT_UPDATE')"
                (click)="editProduct(project)"
              >
                <i class="fa fa-edit"></i>
              </a>
              <a
                class="delete_button text-danger"
                *ngIf="hasAuthority('PROJECT_PRODUCT_DELETE')"
                (click)="deleteProduct(project)"
              >
                <i class="fa fa-trash"></i>
              </a>
              <button
                type="button"
                class="t_save_btn mt-2"
                *ngIf="hasAuthority('PROJECT_PRODUCT_SUBMIT')"
                (click)="submitProductStatus(project)"
              >
                Submit
              </button>
            </td>
            <td *ngIf="project.status == 'SUBMIT'">
              <button
                type="button" class="t_save_btn mb-2"
                *ngIf="hasAuthority('PROJECT_PRODUCT_REVIEW')"
                (click)="reviewProductStatus(project)"
              >
                Review
              </button>
              <button
                type="button"
                class="t_save_btn bg-danger"
                (click)="rejectProductStatus(project)"
              >
                Reject
              </button>
            </td>
            <td *ngIf="project.status == 'REVIEWED'">
              <button
                class="t_save_btn"
                type="button"
                *ngIf="hasAuthority('PROJECT_PRODUCT_APPROVE')"
                (click)="approveProductStatus(project)"
              >
                Approve
              </button>
              <button
                type="button"
                class="t_save_btn bg-danger mt-2"
                (click)="rejectProductStatus(project)"
              >
                Reject
              </button>
            </td>
            <td *ngIf="project.status == 'APPROVED'">
              <button
                type="button"
                class="roleactive mb-2"
                (click)="renewProductStatus(project); $event.stopPropagation()"
              >
                Renew
              </button>
              <button
                type="button"
                class="t_save_btn"
                data-toggle="collapse"
                [attr.data-target]="'#collapse' + i"
                #c
              >
                View License
              </button>
            </td>
            <td *ngIf="project.status == 'RENEWED'">
              <button
                type="button"
                class="roleactive mb-2"
                (click)="renewProductStatus(project); $event.stopPropagation()"
              >
                Renew
              </button>
              <button
                type="button"
                class="t_save_btn"
                data-toggle="collapse"
                [attr.data-target]="'#collapse' + i"
                #c
              >
                View License
              </button>
            </td>
            <td *ngIf="project.status == 'REJECTED'">
              NA
            </td>
          </tr>
          <tr>
            <td colspan="12" class="padding" *ngIf="project.licenses.length">
              <div
                [attr.id]="'collapse' + i"
                class="collapse"
                data-parent="#accordion"
              >
                <!-- <div *ngIf="project.status !== 'APPROVED'">
                  <p class="text-black-50 text-center pt-3">
                    No License Available Now
                  </p>
                </div> -->
                <div class="sub_table mt-3 p-0">
                  <h3>License Detail</h3>
                  <table
                    class=""
                    *ngIf="
                      project.status == 'APPROVED' ||
                      project.status == 'RENEWED'
                    "
                  >
                    <tr class="text-primary">
                      <th scope="col">Sr. No.</th>
                      <th scope="col">Code</th>
                      <th scope="col">Remarks</th>
                      <th scope="col">Unique Access ID.</th>
                      <th scope="col">Generated License Key</th>
                      <th scope="col">Action</th>
                    </tr>
                    <tr *ngFor="let license of project.licenses; index as i">
                      <td>{{ i + 1 }}</td>
                      <td>{{ license.code }}</td>
                      <td *ngIf="!license.generatedKey || license.edit">
                        <input class="tableinput"
                          type="text"
                          placeholder="name"
                          name="name"
                          [(ngModel)]="license.name"
                        />
                      </td>
                      <td *ngIf="!license.generatedKey || license.edit">
                        <input class="tableinput"
                          type="text"
                          placeholder="Access ID"
                          name="accessId"
                          [(ngModel)]="license.accessId"
                        />
                      </td>
                      <td *ngIf="license.generatedKey && !license.edit">
                        {{ license.name }}
                      </td>
                      <td *ngIf="license.generatedKey && !license.edit">
                        {{ license.accessId }}
                      </td>
                      <td *ngIf="license.generatedKey">
                        {{ license.generatedKey }}
                      </td>
                      <td *ngIf="!license.generatedKey">NA</td>
                      <td *ngIf="license.edit">
                        <button
                          *ngIf="hasAuthority('LICENSE_UPDATE')"
                          type="button" class="t_save_btn"
                          (click)="updateLicensekey(license)"
                        >
                          Update License Key
                        </button>
                      </td>
                      <td
                        *ngIf="
                          (license.generatedKey || license.update) &&
                          !license.edit
                        "
                      >
                        <button
                          type="button"
                          class="edit_button text-success"
                          (click)="editLicensekey(license)"
                        >
                          <i class="fa fa-edit"></i>
                        </button>
                      </td>
                      <td *ngIf="!license.generatedKey">
                        <button
                          *ngIf="hasAuthority('LICENSE_UPDATE')"
                          type="button" class="t_save_btn"
                          (click)="generateLicensekey(license)"
                        >
                          Generate License Key
                        </button>
                      </td>

                      <!-- <td> <input type="text" placeholder="Access ID" name="accessId" #accessId></td>
                <td><button type="button" (click)="generateLicensekey(licenses)"> Generate License Key</button></td> -->
                    </tr>
                  </table>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>


  <div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="custom_modal_main">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header mb-0">
          <h4 class="modal-title">Enter Comment</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            (click)="hide()"
          >
            &times;
          </button>
        </div>
  
        <form (ngSubmit)="onSubmitComment()" [formGroup]="popUpForm" >
          <div class="modal-body p-3">
            <div class="form-group  mb-0">
              <textarea
                class="form-control"
                formControlName="comment"
                name="comment"
              ></textarea>
              <span
                *ngIf="
                  popUpForm.get('comment').errors &&
                  (popUpForm.get('comment').touched ||
                    popUpForm.get('comment').dirty)
                "
              >
                <span
                  *ngIf="popUpForm.get('comment').errors.required"
                  class="error"
                >
                  Comment is required</span
                >
              </span>
            </div>
          </div>
          <div class="modal-footer">
            <button class="cancelBtn" type="submit" [disabled]="!popUpForm.valid">
              {{ commentSubmitButton }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="myModal"
  [style.display]="showCommentModal ? 'block' : 'none'"
>
<div class="custom_modal_main">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Comments</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="hideCommentModel()"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="coment_list_content">
          <ul *ngFor="let c of comments">
            <li>
              <div class="comnent_main" *ngIf="!hasUserId(c)">
               <label>NAME:</label> <span > {{ c.commentedBy }}</span>
              </div>
              <div class="comnent_main" *ngIf="hasUserId(c)">
                <label>NAME:</label> <span>Me</span>
              </div>
              <div class="comnent_main">
                <label>COMMENT:</label> <span >{{ c.comment }}</span>
              </div>
             
              <div class="comnent_main">
                <label> Action:</label> <span >{{ c.remark }}</span>
              </div>
              <div class="comnent_main">
                <!-- <label> TIME:</label> -->
                 <span class="time">{{ c.createdAt | date: "medium" }}</span>
              </div>
              
            </li>
            <!-- <li>
              
              <span *ngIf="!hasUserId(c)"> NAME :{{ c.commentedBy }}</span>
              <span *ngIf="hasUserId(c)"> NAME : me</span>
              COMMENT :{{ c.comment }} REMARK:{{ c.remark }} TIME:{{
                c.createdAt | date: "medium"
              }}
            </li> -->
          </ul>
        </div>
        
      </div>
      <div class="modal_footer">
        <button class="cancelBtn" type="button"
        
        data-dismiss="modal"
        (click)="hideCommentModel()">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

<div
  class="modal"
  id="myModal"
  [style.display]="showRenewModal ? 'block' : 'none'"
>
  <div class="custom_modal_main">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Enter Start Date</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            (click)="hideRenewModel()"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onSubmitStartDate()" [formGroup]="popUpStartDateForm">
            <div class="modal-body">
              <div class="form-group">
                <label>Start Date</label>
                <input
                  type="date"
                  class="form-control"
                  formControlName="startDate"
                  name="startDate"
                />
                <span
                  *ngIf="
                    popUpStartDateForm.get('startDate').errors &&
                    (popUpStartDateForm.get('startDate').touched ||
                      popUpStartDateForm.get('startDate').dirty)
                  "
                >
                  <span
                    *ngIf="popUpStartDateForm.get('startDate').errors.required"
                    class="field_error"
                  >
                    Start Date is required</span
                  >
                </span>
              </div>
              <div class="form-group">
                <label>Expiry Period (in months) </label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="expirationMonthCount"
                  name="expirationMonthCount"
                />
                <span
                  *ngIf="
                    popUpStartDateForm.get('expirationMonthCount').errors &&
                    (popUpStartDateForm.get('expirationMonthCount').touched ||
                      popUpStartDateForm.get('expirationMonthCount').dirty)
                  "
                >
                  <span
                    *ngIf="
                      popUpStartDateForm.get('expirationMonthCount').errors.min
                    "
                    class="field_error"
                  >
                    minimun 1 is required</span
                  >
                </span>
              </div>
            </div>
            <div class="modal-footer">
              <button class="saveBtn" type="submit" [disabled]="!popUpForm.valid">
                Renew
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
