.cursor {
  cursor: pointer;
}
.padding {
  padding: 0px;
}

.tableinput {
  padding: 3px 15px;
  height: auto;
  border-radius: 0;
  border: 1px solid #ddd;
  font-size: 14px;
}
.highlight {
  background-color: #ccc;
}
.highlight td {
  color: #fff;
}

.custom_modal_main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1050;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 100vh;
  transform: inherit;
}

.highlight {
  background-color: #29aba4;
}
.highlight td {
  color: #fff;
}

