<div class="form_main ">
    <div class="main_form mb-3">
        <h5 class="text-center text-info">Generate Licence Key</h5>
        <form class="mt-2 ng-invalid ng-dirty ng-touched">
            <div class="form-group">
                <label for="">User</label>
                <select id="my-select" class="form-control" name="">
                        <option *ngFor="let item of customerName">{{item.customerName}}</option>
                    </select>
            </div>
            <div class="form-group">
                <label for="">Product Code</label>
                <select id="my-select" class="form-control" name="">
                    <option *ngFor="let item of projectCode">{{item.name}}</option>
                </select>
            </div>
            <div class="button_btn text-left ">
                <button class="btn btn-outline-success">Submit</button>
            </div>
        </form>
    </div>
    <table class="table table-bordered">
        <thead class="users_table_hader">

            <tr>
                <th>Sr.</th>
                <th>ID</th>
                <th>Unique Access ID</th>
                <th>Licence Key </th>
                <th>Generate</th>
                <th>Export XLD</th>
            </tr>

        </thead>
        <tbody>

            <tr>
                <td>1</td>
                <td>1B2CFF9E2566EFF</td>
                <td><input type="text" class="form-control" placeholder="Unique Access ID"></td>
                <td>1B2CFF9E25</td>
                <td><button class="btn ui-button-icon-only">Generate</button></td>
                <td><button class="btn btn-outline-success">Export as XLS</button></td>
            </tr>

            <tr>
                <td>2</td>
                <td>1B2CFF9E2566MMF</td>
                <td><input type="text" class="form-control" placeholder="Unique Access ID"></td>
                <td>1B2CFF9E26</td>
                <td><button class="btn ui-button-icon-only">Generate</button></td>
                <td><button class="btn btn-outline-success">Export as XLS</button></td>
            </tr>

            <tr>
                <td>3</td>
                <td>1B2CFF9E2566ENF</td>
                <td><input type="text" class="form-control" placeholder="Unique Access ID"></td>
                <td>1B2CFF9E27</td>
                <td><button class="btn ui-button-icon-only">Generate</button></td>
                <td><button class="btn btn-outline-success">Export as XLS</button></td>
            </tr>

            <tr>
                <td>4</td>
                <td>1B2CFF9E2566KKFF</td>
                <td><input type="text" class="form-control" placeholder="Unique Access ID"></td>
                <td>1B2CFF9E28</td>
                <td><button class="btn ui-button-icon-only">Generate</button></td>
                <td><button class="btn btn-outline-success">Export as XLS</button></td>
            </tr>

            <tr>
                <td>5</td>
                <td>1B2CFF9E2566EKK</td>
                <td><input type="text" class="form-control" placeholder="Unique Access ID"></td>
                <td>1B2CFF9E29</td>
                <td><button class="btn ui-button-icon-only">Generate</button></td>
                <td><button class="btn btn-outline-success">Export as XLS</button></td>
            </tr>

        </tbody>
    </table>
</div>
<button class="btn btn-info myButton" routerLink="/main/updateLicence"><i class="fa fa-pencil"></i> Update Old Licence Key</button>
