<div class="form_main ">
    <div class="main_form">
            <h5 class="text-center text-info">Generate Licence Key</h5>
            <form class="mt-4 ng-invalid ng-dirty ng-touched">
                <div class="form-group">
                    <label for=""><strong>User</strong></label>
                    <select id="my-select" class="form-control" name="">
                        <option *ngFor="let item of customerName">{{item.customerName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for=""><strong>Product Code</strong></label>
                    <select id="my-select" class="form-control" name="">
                        <option *ngFor="let item of customerName">{{item.ProductFamily}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="button_btn text-center ">
                        <button class="btn btn-outline-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 padd">
                    <table class="table table-bordered">
                        <thead class="users_table_hader">
                            <tr>
                                <th>Sr.</th>
                                <th>ID</th>
                                <th>Unique Access ID</th>
                                <th>Licence Key </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>1B2CFF9E2566EFF</td>
                                <td><input type="text" class="form-control" placeholder="Unique Access ID"  style="border:none; box-shadow:none; width: 100%;"></td>
                                <td><button class="btn ui-button-icon-only">Generate</button></td>
                            </tr>
                        </tbody>

                    </table>
                    <div class="text-center">
                        <button class="btn btn-outline-primary ml-3">Export as PDF</button>
                        <button class="btn btn-outline-warning ml-3">Export as DOCS</button>
                        <button class="btn btn-outline-success ml-3">Export as XLS</button>
                    </div>
                </div>
            </div>
        </div>
</div>
<button class="btn btn-info myButton" routerLink="/main/updateLicence"><i class="fa fa-pencil"></i> Update Old Licence Key</button>
