<div class="row">
  <div class="col-6">
    <table>
      <thead class="users_table_hader">
        <tr>
          <th scope="col">#</th>
          <th scope="col">License Type</th>
          <th scope="col">Expiry Period (in months)</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let license of licenseType; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ license.name }}</td>
          <td *ngIf="!license.edit">{{ license.maxMonthCount }}</td>
          <td>
            <button
              type="button"
              (click)="editMonthCount(license)"
              class="addlBtn mt-2"
            >
              edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <div class="form-group">
  <label>License Type </label>
  <select
    class="form-control"
    [(ngModel)]="licenseTypeId"
    name="licenseTypeId"
    (ngModelChange)="onLicenseChange($event)"
    [disabled]
  >
    <option *ngFor="let license of licenseType" value="{{ license.id }}">
      {{ license.name }}</option
    >
  </select>
</div>-->
  <div *ngIf="showForm" class="col-6">
    <form [formGroup]="LicenseForm" (ngSubmit)="onSubmit()" class="form_main">
      <div class="form-group">
        <label>License Type </label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          name="name"
        />
      </div>

      <div class="form-group">
        <label>Expiry Period (in months) </label>
        <input
          type="number"
          class="form-control"
          formControlName="monthCount"
          name="monthCount"
        />
        <span
          *ngIf="
            LicenseForm.get('monthCount').errors &&
            (LicenseForm.get('monthCount').touched ||
              LicenseForm.get('monthCount').dirty)
          "
        >
          <span
            *ngIf="LicenseForm.get('monthCount').errors.required"
            class="field_error"
          >
            minimun 1 is required</span
          >
        </span>
      </div>
      <button type="submit" class="saveBtn" [disabled]="!LicenseForm.valid">
        Submit
      </button>
    </form>
  </div>
</div>
