.tableinput{
    padding: 6px 15px;
    height: auto;
    border-radius: 0;
    border: 1px solid #ddd;
    font-size: 13px;
}

.site_main{
    // background: transparent;
    height: calc(100vh - 118px);
    table{
        background: white;
       
    }
    .table_header {
    background: white;
    margin-top: 20px;
        h4 {
            border: 1px solid #ddd;
            font-size: 14px;
            font-weight: 400;
            color: #272727;
            padding: 10px 15px;
            background: #f2f2f2;
            margin: 0;
        }
    }
}
.border table tr th:first-child {
    border-left: 1px solid #ddd !important;
}
.border table tr td:first-child {
    border-left: 1px solid #ddd !important;
    }