<div class="site_main position-relative">
  <div *ngIf="isloader" class="loader">
    <img class="loader_gif" src="assets/images/loader3.gif" alt="" />
  </div>
  <div class="row">
    <div class="col-12">
      <table>
        <thead class="users_table_hader">
          <tr>
            <th scope="col">#</th>
            <th scope="col">License Type</th>
            <th scope="col">Expiry Period Limit (in months)</th>
            <th scope="col" *ngIf="hasAuthority('LICENSE_TYPE_UPDATE')">
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let license of licenseType; index as i"
            id="{{ license.id }}"
            class=""
          >
            <td>{{ i + 1 }}</td>
            <td>
              {{ license.name }}
              <span *ngIf="license.name == 'COMMERCIAL'">(Lifetime)</span>
            </td>
            <td>{{ license.maxMonthCount }}</td>
            <td
              *ngIf="hasAuthority('LICENSE_TYPE_UPDATE')"
              (click)="editExeryMonth(license)"
            >
              <button class="edit_button top_tooltip" type="button">
                <i class="fa fa-edit"></i>
                <span>Edit</span>
              </button>
            </td>
          </tr>
          <!-- <tr *ngFor="let license of licenseType; index as i">
            <td>{{ i + 1 }}</td>
            <td>
              {{ license.name }}
              <span *ngIf="license.name == 'COMMERCIAL'">(Lifetime)</span>
            </td>
            <td *ngIf="!license.edit">{{ license.maxMonthCount }}</td>
            <td *ngIf="license.edit">
              <input
                type="number"
                class="form-control tableinput"
                placeholder="Expiry Period Limit"
                name="Expiry Period Limit"
                required
                min="1"
                id="maxMonthCount"
                (ngModelChange)="vadiation($event, license)"
                onkeypress="return event.charCode >= 48"
                #maxMonthCount="ngModel"
                [(ngModel)]="license.maxMonthCount"
              />
              <p
                *ngIf="
                  !isValidCmInput && isValidDEMOMaxInput && isValidCmMaxInput
                "
              >
                maximun expiry limit is 360
              </p>
              <p
                *ngIf="
                  !isValidDEMOMaxInput && isValidCmInput && isValidCmMaxInput
                "
              >
                maximun expiry limit is 12
              </p>
              <p
                *ngIf="
                  !isValidCmMaxInput && isValidCmInput && isValidDEMOMaxInput
                "
              >
                minimum expiry limit is 1
              </p>
            </td>
            <td *ngIf="!license.edit && hasAuthority('LICENSE_TYPE_UPDATE')">
              <button
                type="button"
                (click)="editMonthCount(license)"
                class="edit_button top_tooltip"
              >
                <span style="min-width: 85px;">Edit Licenses</span>
                <i class="fa fa-edit"></i>
              </button>
            </td>
            <td *ngIf="license.edit">
              <button
                type="submit"
                (click)="onSubmit(license)"
                [disabled]="
                  !isValidCmMaxInput || !isValidDEMOMaxInput || !isValidCmInput
                "
                [ngStyle]="{
                  opacity:
                    !isValidCmMaxInput ||
                    !isValidDEMOMaxInput ||
                    !isValidCmInput
                      ? '0.6'
                      : '1'
                }"
                class="t_save_btn top_tooltip"
              >
                Submit
              </button>
              <button
                type="submit"
                (click)="onBack(license)"
                class="ml-2 t_save_btn bg-danger top_tooltip"
              >
                Cancel
              </button>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>

    <div class="col-12">
      <div class="table_header">
        <h4>Renew Configuration</h4>
      </div>
      <div class="p-3 border border-top-0">
        <table>
          <thead class="users_table_hader">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Show Before Days</th>
              <th scope="col">Start Date Change</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td *ngIf="isBeforeDaysEdit">{{ showBeforeDays }}</td>
              <td *ngIf="!isBeforeDaysEdit">
                <input
                  class="tableinput"
                  type="number"
                  name="showBeforeDays"
                  id="showBeforeDays"
                  min="1"
                  max="120"
                  (keyup)="checkMaxValue(showBeforeDays)"
                  required
                  onkeypress="return
                event.charCode >= 48"
                  [(ngModel)]="showBeforeDays"
                />
                <p *ngIf="!isValidMaxInput && isValidMinInput">
                  maximun show before days is 120
                </p>
                <p *ngIf="!isValidMinInput && isValidMaxInput">
                  minimun show before days is 1
                </p>
              </td>
              <td *ngIf="isBeforeDaysEdit">
                {{ startDateChange }}
              </td>
              <td *ngIf="!isBeforeDaysEdit">
                <select
                  class="form-control"
                  name="startDateChange"
                  id="startDateChange"
                  [(ngModel)]="startDateChange"
                >
                  <option>true</option>
                  <option>false </option>
                </select>

                <!-- <input
                  type="checkbox"
                  id="startDateChange"
                  [(ngModel)]="startDateChange"
                  checked
                  data-toggle="toggle"
                /> -->
              </td>
              <td *ngIf="isBeforeDaysEdit">
                <button
                  type="submit"
                  (click)="editshowBeforeDays()"
                  class="edit_button top_tooltip"
                >
                  <span>Edit</span>
                  <i class="fa fa-edit"></i>
                </button>
              </td>
              <td *ngIf="!isBeforeDaysEdit">
                <button
                  type="submit"
                  *ngIf="isValidMinInput && isValidMaxInput"
                  (click)="
                    onSubmitRenewConfiguration(startDateChange, showBeforeDays)
                  "
                  class="t_save_btn top_tooltip"
                >
                  Submit
                </button>
                <button
                  type="submit"
                  (click)="onBackRenew()"
                  class="ml-2 t_save_btn bg-danger top_tooltip"
                >
                  Cancel
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="myModal" style="display: block;" *ngIf="showForm">
  <div class="custom_modal_main">
    <div class="modal-dialog" style="max-width: 440px;">
      <div class="modal-content">
        <div class="modal-header mb-0">
          <h4 class="modal-title">
            Edit License Type
          </h4>
          <button type="button" class="close" (click)="goback()">
            &times;
          </button>
        </div>

        <div class="modal-body p-0">
          <form
            (ngSubmit)="onSubmit()"
            [formGroup]="projectTypeForm"
            class="add_project"
          >
            <div class="form-group p-3">
              <label>License Type</label>
              <input
                class="form-control"
                type="text"
                autocomplete="off"
                formControlName="name"
                name="name"
                id="fname"
              />
            </div>
            <div class="form-group p-3">
              <label>Expiry Period Limit (in months)</label>
              <input
                class="form-control"
                type="number"
                autocomplete="off"
                formControlName="maxMonthCount"
                name="maxMonthCount"
                onkeypress="return event.charCode >= 48"
                id="fname"
                (ngModelChange)="experyPeriodChange($event)"
              />
              <span
                *ngIf="
                  projectTypeForm.get('maxMonthCount').errors &&
                  (projectTypeForm.get('maxMonthCount').touched ||
                    projectTypeForm.get('maxMonthCount').dirty)
                "
              >
                <span
                  *ngIf="projectTypeForm.get('maxMonthCount').errors.min"
                  class="field_error"
                >
                  minimum 1 is required</span
                >
                <span
                  *ngIf="projectTypeForm.get('maxMonthCount').errors.max"
                  class="field_error"
                >
                  maximum expiry period is {{ maxMonthCount }} months
                </span>
              </span>
            </div>
            <div class="modal-footer p-2">
              <button
                type="submit"
                class="saveBtn mr-2"
                [disabled]="!projectTypeForm.valid"
                [ngStyle]="{
                  opacity: !projectTypeForm.valid ? '0.6' : '1'
                }"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
