<div class="wrapper">
  <div class="user">
    <div class="user_options-container">
      <!-- <div class="user_options-text"> -->
        <!-- <div class="user_options-unregistered">
          <div class="user_unregistered-title">
            <img src="assets/logo.png" class="logoImage" />
          </div>
          <h2 class="user_unregistered-text">License Key Generator</h2>
        </div> -->
      <!-- </div> -->
       
        <div class="user_options-forms">
          <div class="related_images">
            <img src="assets/images/login.png" alt="">
          </div>
          <div class="user_forms-login">
            <!-- <h2 class="forms_title">Login</h2> -->
            <div class="logo">
              <img src="assets/logo.png" />
            </div>
            <div class="title">
              <h3>Efkon-Licence-Key</h3>
            </div>
            <form
              name="Login_Form"
              [formGroup]="loginForm"
              (ngSubmit)="onSubmit()"
            >
              <fieldset class="forms_fieldset">
                <div class="forms_field">
                  <label>User Name</label>
                  <input
                    type="text"
                    class="forms_field-input"
                    placeholder="Username"
                    formControlName="username"
                  />
                  <span class="material-icons">
                    account_circle
                    </span>
                </div>
                <div class="forms_field">
                  <label>Password</label>
                  <input
                    type="password"
                    formControlName="password"
                    placeholder="Password"
                    class="forms_field-input"
                  />
                  <span class="material-icons">
                    vpn_key
                    </span>
                </div>
              </fieldset>
              <div class="forms_buttons">
                <a routerLink="/forgot-pwd">Forgot Password ?</a>
                <button
                  class="saveBtn"
                  type="submit"
                  [disabled]="logging"
                >
                  {{ logging ? "Logging..." : "Login" }}
                </button>
              </div>
  
              <div class="err-msg" *ngIf="errorMsg">
                <p>{{ errorMsg }}</p>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
