<div class="site_main">
  <div class="container-fluid p-0">
    <div class="col-12 p-0">
      <button
        class="createBtn"
        *ngIf="hasAuthority('PRODUCT_FAMILY_CREATE')"
        (click)="addProductFamily()"
      >
        Add Product Family
      </button>
      <div class="table_scroll">
        <table>
          <thead class="users_table_hader">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Code</th>
              <th scope="col">Product Codes</th>
              <th scope="col">Description</th>
              <th
                scope="col"
                *ngIf="
                  hasAuthority('PRODUCT_FAMILY_UPDATE') ||
                  hasAuthority('PRODUCT_FAMILY_DELETE')
                "
              >
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            
            <tr
              *ngFor="let family of family; index as i"
              id="{{ family.id }}"
              class=""
            >
              <td>{{ i + 1 }}</td>
              <td>{{ family.name }}</td>
              <td>{{ family.code }}</td>
              <td>
                <span *ngFor="let fam of family.productCodes">
                  <span class="badge mr-2 custom_badge">{{ fam.name }}</span>
                </span>
              </td>
              <td *ngIf="family.description">
                <div class="description">{{ family.description }}</div>
              </td>
              <td *ngIf="!family.description">NA</td>
              <ng-container
                *ngIf="
                  hasAuthority('PRODUCT_FAMILY_UPDATE') ||
                  hasAuthority('PRODUCT_FAMILY_DELETE')
                "
              >
                <td *ngIf="family.active">
                  <button
                    class="edit_button top_tooltip"
                    (click)="editFamilyDescription(family)"
                    *ngIf="hasAuthority('PRODUCT_FAMILY_UPDATE')"
                  >
                    <i class="fa fa-edit"></i>
                    <span>Edit</span>
                  </button>
                  <button
                    class="delete_button top_tooltip"
                    (click)="deleteFamilyDescription(family)"
                    *ngIf="hasAuthority('PRODUCT_FAMILY_DELETE')"
                  >
                    <i class="fa fa-trash"></i>
                    <span>Delete</span>
                  </button>
                </td>
                <td *ngIf="!family.active">
                  <button
                    class="roleactive"
                    (click)="activateFamilyDescription(family)"
                    *ngIf="hasAuthority('PRODUCT_FAMILY_DELETE')"
                  >
                    activate
                  </button>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>

        <div *ngIf="isloader" class="loader">
          <img class="loader_gif" src="assets/images/loader3.gif" alt="" />
        </div>
        <div class="no_product" *ngIf="!family?.length && !isloader">
          <h2> <img src="assets/images/alert.svg" alt="">
            No Product Family Available Now </h2>
         </div>
         <!-- <div *ngIf="!family?.length && !isloader">
          No Product Family Available Now
        </div> -->
      </div>
    </div>
  </div>
</div>

