.cursor {
  cursor: pointer;
}
.highlight {
  background-color: #29aba4;
}
.highlight td {
  color: #fff;
  a {
    color: white !important;
}
}


.table_scroll {
  width: 100%;
  display: inline-block;
  height: calc(100vh - 109px);
  overflow: auto;
}
.custom_modal_main {
  background: rgba(0, 0, 0, 0.5);
}
