.cursor {
  cursor: pointer;
}
.highlight {
  background-color: #ccc;
}
.highlight td {
  color: #fff;
}


.table_scroll {
  width: 100%;
  display: inline-block;
  height: calc(100vh - 118px);
  overflow: auto;
}

