<div class="site_main">
  <div class="container-fluid p-0">
    <div class="col-12 p-0">
      <div class="table_scroll">
        <table>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Product Detail</th>
              <th scope="col">No of License</th>
              <th scope="col">License Type</th>
              <th scope="col" style="min-width: 100px;">Start Date</th>
              <th scope="col" style="min-width: 100px;">End Date</th>
              <th scope="col">Customer Details</th>
              <th scope="col">Project Type</th>
              <th scope="col">Expiration Period Type</th>
              <th scope="col">Comments</th>
              <!-- <th scope="col">status</th> -->
              <th
                scope="col"
                *ngIf="
                  hasAuthority('LICENSE_REQUEST_REJECT') ||
                  hasAuthority('LICENSE_REQUEST_ACCEPT')
                "
              >
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              id="{{ product.id }}"
              class=""
              *ngFor="let product of productPendingRequests; index as i"
            >
              <td>{{ i + 1 }}</td>
              <td>
                {{
                  product.projectProductResponse.productDetail.productFamilyName
                }}
                {{
                  product.projectProductResponse.productDetail.productCodeName
                }}
                {{ product.projectProductResponse.productDetail.versionName }}
              </td>
              <td>{{ product.licenseCount }}</td>
              <td>{{ product.projectProductResponse.licenseTypeName }}</td>
              <td>{{ product.projectProductResponse.startDate }}</td>
              <td>{{ product.projectProductResponse.endDate }}</td>
              <td>
                {{ product.projectProductResponse.project.customerName }}
                <br />{{ product.projectProductResponse.project.customerEmail }}
              </td>
              <td>
                {{ product.projectProductResponse.project.projectTypeName }}
              </td>
              <td>{{ product.projectProductResponse.expirationPeriodType }}</td>
              <td>
                <a class="comments" (click)="showComments(product)">Comments</a>
              </td>
              <!-- <td>{{ product.status }}</td> -->
              <td
                style="min-width: 145px;"
                *ngIf="
                  hasAuthority('LICENSE_REQUEST_REJECT') ||
                  hasAuthority('LICENSE_REQUEST_ACCEPT')
                "
              >
                <button
                  class="t_save_btn mb-1 mr-2"
                  *ngIf="hasAuthority('LICENSE_REQUEST_ACCEPT')"
                  (click)="updateProductLicenseAccept(product)"
                >
                  Accept
                </button>
                <button
                  class="t_save_btn bg-danger"
                  *ngIf="hasAuthority('LICENSE_REQUEST_REJECT')"
                  (click)="updateProductLicenseReject(product)"
                >
                  Reject
                </button>
              </td>
            </tr>
            <h2 *ngIf="!productPendingRequests?.length && !isloader">
              No products Available Now
            </h2>
          </tbody>
        </table>
        <div *ngIf="isloader" class="loader">
          <img class="loader_gif" src="assets/images/loader3.gif" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal"
  id="myModal"
  [style.display]="showRejectModal ? 'block' : 'none'"
>
  <div class="custom_modal_main">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Enter Comment</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            (click)="hide(selectedProduct.id)"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onSubmitComment()" [formGroup]="popUpRejectForm">
            <div class="modal-body">
              <div class="form-group">
                <label>Comment *</label>
                <textarea
                  class="form-control"
                  formControlName="comment"
                  name="comment"
                ></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="submit"
                class="saveBtn"
                [ngStyle]="{
                  opacity: !popUpRejectForm.valid ? '0.6' : '1'
                }"
                [disabled]="!popUpRejectForm.valid"
              >
                Reject
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal"
  id="myModal"
  [style.display]="showCommentModal ? 'block' : 'none'"
>
  <div class="custom_modal_main">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            Comments for
            <span
              >(
              {{ selectedProductFamily }}
              {{ selectedProductCode }}
              {{ selectedProductVersion }} )
            </span>
          </h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            (click)="hideCommentModel(selectedComment)"
          >
            &times;
          </button>
        </div>

        <div class="modal-body overflow-hidden mb-3">
          <!-- <div class="product_details_popup text-center">
            <label>Product Details:</label>
            <span>
              {{ selectedProductCode }}
              {{ selectedProductFamily }}
              {{ selectedProductVersion }}
            </span>
          </div> -->
          <div class="ibc-code-section">
            <div class="container">
              <div class="row">
                <div class="ibc-code-main">
                  <div class="main_box">
                    <div class="box_com" *ngFor="let c of comments">
                      <div class="left_box">
                        <p>
                          {{ c.comment }}
                        </p>
                        <h5>{{ c.remark }}</h5>
                        <h6>{{ c.createdAt | date: "medium" }}</h6>
                      </div>
                      <div class="right_box">
                        <div class="img_box_main">
                          <div class="img_box">
                            <img src="assets/images/profile1.jpg" />
                          </div>
                        </div>
                        <div class="text_box">
                          <h2 *ngIf="!hasUserId(c)">
                            {{ c.commentedBy }}
                          </h2>
                          <h2 *ngIf="hasUserId(c)">
                            me
                          </h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal_footer">
          <button
            class="cancelBtn"
            type="button"
            data-dismiss="modal"
            (click)="hideCommentModel(selectedComment)"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
