.padd
{
  padding-left: 0px;
}
.middle-content {
  margin-top: 82px;
  box-shadow: 0 0 5px #ddd;
  padding: 10px;
}

.password_change {
  display: inline-block;
  width: 100%;
  background-color: #fafafa;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url(/assets/img/password_background.jpg);
  .change_password {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
      form {
          max-width: 350px;
          margin-top: 30px;
          color: #999;
          background: #fff;
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
          padding: 30px;
          .form-header {
              margin: -30px -30px 20px;
              padding: 30px 30px 10px;
              text-align: center;
              background: #639bcb !important;
              color: #fff;
              h2 {
                  font-size: 28px;
                  font-weight: bold;
                  margin: 0 0 10px;
                  font-family: 'Pacifico', sans-serif;
              }
          }
          .form-group {
              margin-bottom: 20px;
              display: inline-block;
              width: 100%;
              label {
                  color: #333;
                  font-size: 15px;
                  width: 100%;
                  border: none;
              }
              input.form-control.ng-untouched.ng-pristine{
                display: inline-block;
                width:100%;
                float: none;
            }
            input.ng-invalid.ng-touched{
              border: 1px solid red;
              float: none;
            }
            input.ng-valid
            {
              border: 1px solid green;
              float: none;
            }
            .txt
            {
              color: gray;
            }
          }
      }
  }
}