
    <div class="form_main ">
        <div class="main_form">
            <h5 class="text-center text-info">Renew Old Licence Key</h5>
            <form class="mt-4 ng-invalid ng-dirty ng-touched">
                <div class="form-group">
                    <label for=""><strong>User</strong></label>
                    <select id="my-select" class="form-control" name="">
                        <option *ngFor="let item of customerName">{{item.customerName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for=""><strong>Product Code</strong></label>
                    <select id="my-select" class="form-control" name="">
                        <option *ngFor="let item of customerName">{{item.ProductFamily}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="button_btn text-center">
                        <button class="btn btn-outline-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-12 padd">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="users_table_hader">
                                <th>Sr.</th>
                                <th>Licence Key</th>
                                <th>Old Expiration Period</th>
                                <th>New Expiration Period </th>
                                <th>New Licence Key </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>RLVD-GHR4-3490
                                </td>
                                <td><input type="text" class="form-control" disabled placeholder="Old Expiration Period"  style="border:none; box-shadow:none; background: none; "></td>
                                <td><input type="text" class="form-control" placeholder="New Expiration Period"  style="border:none; box-shadow:none; width: 100%; background: no-repeat;"></td>
                                <td><button class="btn ui-button-icon-only">Generate</button></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>RLVD-GHR4-3490
                                </td>
                                <td><input type="text" class="form-control" disabled placeholder="Old Expiration Period"  style="border:none; box-shadow:none; background: none; "></td>
                                <td><input type="text" class="form-control" placeholder="New Expiration Period"  style="border:none; box-shadow:none; width: 100%; background: no-repeat;"></td>
                                <td><button class="btn ui-button-icon-only">Generate</button></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>RLVD-GHR4-3490
                                </td>
                                <td><input type="text" class="form-control" disabled placeholder="Old Expiration Period"  style="border:none; box-shadow:none; background: none; "></td>
                                <td><input type="text" class="form-control" placeholder="New Expiration Period"  style="border:none; box-shadow:none; width: 100%; background: no-repeat;"></td>
                                <td><button class="btn ui-button-icon-only">Generate</button></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>RLVD-GHR4-3490
                                </td>
                                <td><input type="text" class="form-control" disabled placeholder="Old Expiration Period"  style="border:none; box-shadow:none; background: none; "></td>
                                <td><input type="text" class="form-control" placeholder="New Expiration Period"  style="border:none; box-shadow:none; width: 100%; background: no-repeat;"></td>
                                <td><button class="btn ui-button-icon-only">Generate</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="button_btn text-center">
                        <button class="btn btn-outline-primary ml-3">Import as PDF</button>
                        <button class="btn btn-outline-warning ml-3">Import as DOCS</button>
                        <button class="btn btn-outline-success ml-3">Import as XLS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
