<div class="container ">
        <div class="row ">
            <div class="col-lg-12 ">
                <div class="form_main ">
                    <h5 class="text-center text-info">Renew Old Licence Key</h5>
                    <div class="main_form">
                        <form class=" ng-invalid ng-dirty ng-touched">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        <label for="">User</label>
                                        <select id="my-select" class="form-control" name="">
                                            <option *ngFor="let item of customerName">{{item.customerName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        <label for="">Product Code</label>
                                        <select id="my-select" class="form-control" name="">
                                            <option *ngFor="let item of customerName">{{item.ProductFamily}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="button_btn text-left">
                                        <button class="btn btn-outline-success ">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="container mt-3">
                        <div class="row">
                            <div class="col-lg-12 ">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="users_table_hader">
                                            <th>Sr.</th>
                                            <th>Id</th>
                                            <th>Old Expiration Period</th>
                                            <th>New Expiration Period </th>
                                            <th>Unique Access Id </th>
                                            <th>New Licence Key </th>
                                            <th>Generate</th>
                                            <th>Export XLD</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of tableData | slice:0:5; index as i">
                                            <td>{{i+1}}</td>
                                            <td>{{item.id}}</td>
                                            <td>{{item.xpPeriod}}</td>
                                            <td>
                                                <input type="text" name="input" class="form-control" placeholder="YYYY-MM-DD" [(ngModel)]="item.newExpPeriod" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" required placeholder="Unique Access ID" [(ngModel)]="item.AccessId">
                                            </td>
                                            <td>
                                                {{item.licenseKey?item.licenseKey:'XXXXXXXXXX'}}
                                            </td>
                                            <td><button class="btn ui-button-icon-only " [disabled]="!item.AccessId" (click)="generateRandomKey(item); ">{{item.loader ? '' :'Generate'}} <span *ngIf="item.loader" class="spinner-grow spinner-grow-sm"></span></button></td>
                                            <td><button class="btn btn-outline-success" [disabled]="!item.AccessId" (click)="exportAsXLSX(i, item)">{{item.excelLoader?'' : 'Export excel'}} <span class="spinner-border  spinner-sm text-dark" *ngIf="item.excelLoader"></span></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>