.padd {
    padding-left: 0px;
    padding-right: 0px;
}

.ui-button-icon-only {
    box-shadow: none;
}

.myButton {
    color: white;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 10px;
}