.back_button{
    display: flex;
    align-items: center;
    border: 0;
    padding: 0;
    margin-bottom: 6px;
    border: 1px solid transparent;
    padding: 0 10px 0 2px;
    font-size: 14px;
    transition: 0.4s;
    border-radius: 20px;
    background: #d4d3d3;
    color: #454545;
    span {
        font-size: 22px;
        padding-right: 4px;
    }
    &:hover {
        background: #f2f2f3;
        // color: white;
        border: 1px solid #666;
    }
}
.custom_modal_main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1050;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    min-height: 100vh;
    transform: inherit;
  }
  .table_scroll {
    height: calc(100vh - 114px);
}
