<div class="container ">
        <div class="row ">
            <div class="col-lg-12 p-0">
            <table class="table table-hover table-stripped table-sm ">
                <thead class="users_table_hader">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="text-center">ID</th>
                        <th scope="col" class="text-center">Unique Access Id</th>
                        <th scope="col" class="text-center">Product Code</th>
                        <th scope="col" class="text-center">Licence Type</th>
                        <th scope="col" class="text-center">Licence Status</th>
                        <th scope="col" class="text-center">Expiration Period</th>
                        <th scope="col" class="text-center">Start Date</th>
                        <th scope="col" class="text-center">End Date</th>
                        <th scope="col" class="text-center">Update</th>
                        <th scope="col" class="text-center">Renew</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of logs index as i">
                        <td scope="row" class="pl-2">{{i+1}}</td>
                        <td>{{item.id}}</td>
                        <td>{{item.uniqueAccessId}}</td>
                        <td>{{item.productCode}}</td>
                        <td>{{item.LicenceType}}</td>
                        <td [style.color]="item.Licencestatus==='Active' ? 'green':'red'">{{item.Licencestatus}}</td>
                        <td>{{item.ExpirationPeriod}}</td>
                        <td>{{item.StartDate}}</td>
                        <td>{{item.EndDate}}</td>
                        <td><button ><i class="fa fa-edit text-success" style="cursor: pointer;" routerLink="/user/updateUserSingleLicense"></i></button></td>
                        <td><button><i class="fa fa-wrench" style="cursor: pointer;" routerLink="/user/reneweUserSingleLicense"></i></button></td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-info myButton" routerLink="/user/generateLicence"><i class="fa fa-plus"></i>  Generate New Licence Key</button>
        </div>
    </div>
</div>