<table class="table table-hover table-stripped table-sm  ">
    <thead class="bg-warning">
        <tr>
            <th scope="col">#</th>
            <!-- <th scope="col">Customer </th> -->
            <th scope="col" class="text-center">ID</th>
            <th scope="col" class="text-center">Unique Access Id</th>

            <!-- <th scope="col" class="text-center">Product Family</th> -->
            <th scope="col" class="text-center">Product Code</th>
            <!-- <th scope="col" class="text-center">Version</th> -->
            <!-- <th scope="col">Users</th> -->
            <th scope="col" class="text-center">Licence Type</th>
            <th scope="col" class="text-center">Licence Status</th>
            <th scope="col" class="text-center">Expiration Period</th>
            <th scope="col" class="text-center">Start Date</th>
            <th scope="col" class="text-center">End Date</th>
            <th scope="col" class="text-center">Update</th>
            <th scope="col" class="text-center">Renew</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of logs index as i">
            <th scope="row" class="pl-2">{{i+1}}</th>
            <!-- <td>{{item.customerName}}</td> -->
            <td class="text-center">{{item.id}}</td>
            <td class="text-center">{{item.uniqueAccessId}}</td>
            <!-- <td class="text-center">{{item.ProductFamily}}</td> -->
            <td class="text-center">{{item.productCode}}</td>
            <!-- <td class="text-dark">{{item.Version}}</td> -->
            <!-- <td>{{item.Users}}</td> -->
            <td class="text-center">{{item.LicenceType}}</td>
            <td class="text-center" [style.color]="item.Licencestatus==='Active' ? 'green':'red'">{{item.Licencestatus}}</td>
            <td class="text-center">{{item.ExpirationPeriod}}</td>
            <td class="text-center">{{item.StartDate}}</td>
            <td class="text-center">{{item.EndDate}}</td>
            <td> <i class="fa fa-edit text-success ml-3" style="cursor: pointer;" routerLink="/user/updateUser"></i></td>
            <td> <i class="fa fa-refresh text-info ml-3" style="cursor: pointer;" routerLink="/user/renewUser"></i></td>
        </tr>
    </tbody>
</table>


<button class="btn btn-info myButton" routerLink="/user/generateLicence"><i class="fa fa-plus"></i>  Generate New Licence Key</button>