.myButton {
    color: white;
    text-align: center;
    position: fixed;
    bottom: 10px;
    right: 0;
}

.fa-trash {
    cursor: pointer;
}
button {
    border: none;
    background: no-repeat;
    font-size: 15px;
    outline: none;
}