.errorinput{border:1px #f00 solid}

    
    .role_from {
        display: inline-block;
        width: 100%;
        position: relative;
        form {
            display: inline-block;
            width: 400px;
            box-shadow: 0px 0px 5px #ddd;
            padding: 15px;
            margin: 30px 301px;
            label {
                display: inline-block;
                width: 100%;
                float: left;
                margin-bottom: 0;
                padding: 5px 0;
            }
            .dropdown-list[_ngcontent-c3] {
                position: absolute;
                width: 100%;
                z-index: 9999;
                border-radius: 3px;
                background: #fff;
                margin-top: 10px;
                box-shadow: 0px 0px 5px #ddd;
                li{
                    display: inline-block;
                    width: 100%;
                }
            }
            span.text-danger {
                font-size: 15px;
                display: inline-block;
                width: 100%;
            }
        }
    }


    .dropdown-list[_ngcontent-c3] li[_ngcontent-c3] {
        padding: 6px 10px;
        cursor: pointer;
        text-align: left;
        font-size: 14px;
    }
    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: none;
        outline: 0;
        box-shadow: none;
    }

    .loading_back_button {
        display: inline-block;
        width: auto;
        float: right;
        .btn.btn-dangers {
            background: #e74111;
            font-size: 15px;
            display: inline-block;
            width: auto;
            color: #fff;
            margin-right: 10px;
        }
        .btn.btn-danger_back {
            background: gray;
            color: #fff;
            display: inline-block;
            width: auto;
        }
    }
    button.btn.btn-danger.ml-auto {
        margin: 0;
        padding: 8px 15px;
        line-height: normal;
    }


    .authorities_main {
        width: 100%;
        display: inline-block;
        border: 1px solid #ddd;
        // padding: 0px 10px 10px;
        margin-top: 4px;
        .checkbox_box {
            position: relative;
            margin-top: 10px;
            padding: 3px 10px 5px 10px;
            margin-right: 15px;
            color: #8a969e;
            border: 1px solid #ddd;
            background: #fbfbfb;
            input {
                display: inline;
                width: auto;
                float: left;
                position: absolute;
                z-index: 3;
                width: 18px;
                height: 18px;
                top: 8px;
                left: 8px;
                opacity: 0;
                cursor: pointer;
            }
            span {
                margin-left: 26px;
                font-size: 13px;
                // text-transform: lowercase;
                /* font-weight: 600; */
                &:after {
                    position: absolute;
                    /* background: red; */
                    width: 18px;
                    height: 18px;
                    content: "";
                    left: 8px;
                    top: 8px;
                    border: 1px solid #29aba4;
                }
                
            }
        }
    }



    .checkbox_box input:checked + span:after {
        content: "\f00c";
        color: #29aba4;
        font-family: FontAwesome;
        font-weight: normal;
        line-height: initial;
        font-size: 12px;
        text-align: center;
        padding-top: 3px;
    }
    .checkbox_box input:checked + span{
       color: #333;
    }
    .checkbox_main {
        width: 25%;
        display: inline-block;
    }
    

    .check_main {
        position: relative;
        // display: flex;
        align-items: center;
        padding-top: 10px;
        border-bottom: 1px solid #ddd;
        float: left;
        width: 100%;
        background: #fbfbfb;
      }
      .check_main label:after {
         position: absolute;
        top: 0;
        left: 0;
        width: 19px;
        height: 19px;
        content: "";
        border: 1px solid #29aba4;
      }
      
      .form_main .input_feild .category_col input {
          border-radius: 0;
          font-size: 13px !important;
      }
      .check_main input {
          position: absolute;
          z-index: 3;
          width: 19px;
          height: 19px;
          top: 0px;
          opacity: 0;
          cursor: pointer;
      }
      .check_main input:checked + label:after{
        background-image :inherit;
        content: "\f00c";
        font-family: FontAwesome;
        line-height: normal;
        text-align: center;
        color: #29aba4;
        font-size: 12px;
        padding-top: 2px;
      }
      .check_main label {
        margin-left: 26px;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 500 !important;
      }

      .search_bar input {
        opacity: 1 !important;
        width: 100% !important;
        position: static !important;
        height: auto !important;
    }
    .search_bar i{
        position: static;
    }
    form {
        // width: auto;
        float: right;
    }
    .search_bar{
        max-width: auto;
        float: right;
        display: inline-flex;
        position: relative;
        margin-bottom: 10px;
        margin: 0;
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .selectaall {
        width: auto;
        float: left;
        display: flex;
        margin-top: 7px;
        position: relative;
        margin-left: 10px;
    }