<div class="row">
  <div class="col-12">
    <div class="roal_create_roal">
      <form
        (ngSubmit)="onSubmit()"
        [formGroup]="createRoleForm"
        class="form_main"
      >
        <h3>{{ roleId ? "Edit" : "Add" }} Role</h3>
        <div class="input_feild">
          <div class="category_col">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>Name *</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="name"
                    name="name"
                    placeholder="Name"
                  />
                  <span
                    *ngIf="
                      createRoleForm.get('name').errors &&
                      (createRoleForm.get('name').touched ||
                        createRoleForm.get('name').dirty)
                    "
                  >
                    <span
                      *ngIf="createRoleForm.get('name').errors.required"
                      class="field_error"
                      >name is required</span
                    >
                    <span
                      *ngIf="createRoleForm.get('name').errors.pattern"
                      class="field_error"
                      >Only alphabets are allowed.
                    </span>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label class="mb-1" for="exampleInputPassword1"
                  >Authorities *:
                </label>
                <span
                  class="badge badge-secondary custom_bdg"
                  *ngFor="let a of selectedAuthorities; index as i"
                >
                  {{ a.name }}
                  <button
                    class="close_btn"
                    type="button"
                    (click)="onChangeAuthorities(a)"
                  >
                    <i class="fa fa-close"></i>
                  </button>
                </span>
                <div class="text-danger" *ngIf="eventValue">
                  Please Select Authority
                </div>
                <div>
                  <div class="authorities_main" id="authorities">
                    <div *ngFor="let item of authorities" class="checkbox_main">
                      <div class="checkbox_box">
                        <input
                          type="checkbox"
                          selected="true"
                          [checked]="isChecked(item)"
                          name="check"
                          id="authCheck"
                          value="{{ item.id }}"
                          (change)="onChangeAuthorities(item)"
                        />
                        <span>{{ item.name }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form_footer">
          <div class="loading_back_button">
            <button
              type="submit"
              *ngIf="!loaderbutton"
              class="saveBtn"
              [ngStyle]="{
                opacity: createRoleForm.valid ? '0.6' : '1'
              }"
            >
              {{ roleId ? "Update" : "Submit" }}
            </button>
            <button class="saveBtn" *ngIf="loaderbutton">
              <i class="fa fa-refresh fa-spin"></i>
              {{ roleId ? "Updating...." : "Submitting...." }}
            </button>
            <button
              type="button"
              class="cancelBtn ml-3 mr-3"
              (click)="goback()"
            >
              Back
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
