.myButton {
    color: white;
    text-align: center;
    position: fixed;
    bottom: 10px;
    right: 0;
}

.fa-trash {
    cursor: pointer;
}
form.form-inline.ng-untouched.ng-pristine.ng-valid {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    float: right;
    .form-group {
        display: inline-block;
        width: 100%;
        max-width: 25%;
        float: right;
        padding: 0;
        margin-left: 20px;
        .form-control {
            display: inline-block;
            width: 100%;
            max-width: 250px;
            margin-left: 20px;
            border: 1px solid #ddd;
            &:focus {
                border: 1px solid #ddd;
            }
        }
    }
}