<table class="table table-hover table-stripped table-sm  ">
    <thead class="users_table_hader">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">UserID</th>
            <th scope="col">Role</th>
            <th scope="col">Mail Status</th>
            <th scope="col">Email Id</th>
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of myAllUser index as i">
            <td scope="row">{{i+1}}</td>
            <td>{{item.username}}</td>
            <td>{{item.userId}}</td>
            <td>{{item.role}}</td>
            <td [style.color]="item.MailStatus=='Sent Successfully'?'green':'red'">{{item.MailStatus}}</td>
            <td>{{item.EmailID}}</td>
            <td> <i class="fa fa-trash text-danger ml-3"></i></td>
            <td> <i routerLink="/main/updateUser" class="fa fa-edit text-success ml-3" style="cursor: pointer;"></i></td>
        </tr>
    </tbody>
</table>

<button class="btn btn-info myButton" routerLink="/main/createUser"><i class="fa fa-user-plus"></i> Add User</button>
