<div class="cpntainer-fluid mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="text-center">
        <div *ngIf="isloader" class="spinner-border text-danger" style="width: 6rem; height: 6rem;"></div>
      </div>
      <div class="table-responsive" *ngIf="Versions">
        <table class="table table-bordered mt-4">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Version</th>
              <th scope="col" *ngIf="hasAuthority('VERSION_UPDATE') || hasAuthority('VERSION_DELETE')">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let version of Versions; index as i">
              <td>{{i+1}}</td>
              <td>{{version.version}}</td>
              <td *ngIf="hasAuthority('VERSION_UPDATE') || hasAuthority('VERSION_DELETE')">
                <a class="text-primary pr-2 cursor"
                *ngIf="hasAuthority('VERSION_UPDATE')"
                 (click)="editVersion(version)">
                  <i class="fa fa-edit"></i>
                </a>
                <a class="text-danger pl-2 cursor" 
                *ngIf="hasAuthority('VERSION_DELETE')"
                 (click)="deleteVersion(version)">
                  <i class="fa fa-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <ng-container *ngIf="hasAuthority('VERSION_CREATE')" >
        <button class="btn btn-danger"
         *ngIf="!isCreateVersion" 
         (click)="showVersionForm()">Add Version</button>
        </ng-container>
      </div>
    </div>
    <div class="col-md-6" *ngIf="isCreateVersion || !Versions">
      <h2 class="text-center">{{versiontype}} Version</h2>
      <form (ngSubmit)="onSubmit()" [formGroup]="createVersionForm">
        <div class="form-group">
          <label>Version</label>
          <input type="text" class="form-control" name="Version" placeholder="Version" formControlName="version">
          <span *ngIf="createVersionForm.get('version').errors &&
          (createVersionForm.get('version').touched||createVersionForm.get('version').dirty)">
          <span *ngIf="createVersionForm.get('version').errors.required" class="text-danger">Version is
            required</span>
          </span>       
        </div>
        <button type="submit" class="btn btn-danger ml-auto" *ngIf="!loaderbutton" 
        [disabled]="!createVersionForm.valid">
          {{versionId ?'Update': 'Submit'}}</button>
          <button class="buttonload btn-danger ml-auto" *ngIf="loaderbutton">
            <i class="fa fa-refresh fa-spin"></i> Loading
          </button>
          <button type="button" class="btn btn-danger ml-2"
          (click)="Reset()" >
          <i class="fa fa-times"></i> Reset</button>
          <button type="button" class="btn btn-danger ml-2"
          (click)="close()"> Close</button>
      </form>
    </div>


  </div>