body {
    overflow-x: hidden;
}

.btn:focus {
    outline: none;
    border: 1px solid white;
}

.btn {
    border: 1px solid #17a2b8;
}

.navbar-toggler {
    outline: none;
}
.toggled #page-content-wrapper{
    width: 100%;
    display: inline-block;
}


.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

h6:focus {
    outline: none;
}
.list-group-item {
    cursor: pointer;
}

.userImage {
    border-radius: 50%;
    border: 2px solid #17a2b8!important;
    ;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        width: calc(100% - 250px);
        position: relative;
        float: right;
        display: inline-block;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.submenu {
    cursor: pointer;
    box-shadow: none;
}
.ml-6 {
    margin-left: 7rem!important;
}
