<div id="wrapper">
    <div class="bg-light border-right " id="sidebar-wrapper">
        <div class="sidebar-logo">
            <a href="#"><img src="assets/img/logo.png" alt="" class="logo"></a>
         </div>
        <div class="list-group list-group-flush">
            <ul>
                <li routerLink="/user/viewProjectUser" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="list-group-item list-group-item-action bg-light">Projects Detail</li>
                <li routerLinkActive="active" class="list-group-item list-group-item-action bg-light" (click)="subMenu1()">Licence <i class="fa fa-chevron-down ml-6"></i></li>

                <div *ngIf="submenu">
                    <div class="dropdown_sidebar">
                        <ul>
                            <li routerLinkActive="check_menu" [routerLinkActiveOptions]="{ exact: true }" routerLink="/user/viewUserLicence"><i class="fa fa-check"></i> View</li>
                            <li routerLinkActive="check_menu" routerLink="/user/updateUser"><i class="fa fa-check"></i> Update Licence Key</li>
                            <li routerLinkActive="check_menu" routerLink="/user/renewUser"><i class="fa fa-check"></i> Renew Licence Key</li>
                            <li routerLinkActive="check_menu" routerLink="/user/requestUser"><i class="fa fa-check"></i> Request Licence Key</li>
                        </ul>
                    </div>
                </div>
                <li routerLink="/user/viewLicenceskeyLogsUser" routerLinkActive="active" class="list-group-item list-group-item-action bg-light">View Licence Key Log</li>
                <li routerLink="/user/requestStatus" routerLinkActive="active" class="list-group-item list-group-item-action bg-light">Request Status</li>
                <li routerLink="/user/changeUserpsw" routerLinkActive="active" class="list-group-item list-group-item-action bg-light">Change Password</li>
            </ul>
        </div>
    </div>
    <div id="page-content-wrapper">
        <div class="header_main"> 
            <div class="Toggle_button">
                <button _ngcontent-dek-c51="" id="menu-toggle"><i _ngcontent-dek-c51="" aria-hidden="true" class="fa fa-bars"></i></button>
            </div>
            <div class="manu">
                <ul >
                    <li> <a href="#"> User</a>
                        <img src="assets/img/avatar.jpeg" class="img-fluid userImage" alt="" style="width: 50px;height: 50px;">
                    </li>
                    <li> <a href="#" (click)="logout()" style="cursor: pointer;">Logout <i _ngcontent-tuf-c51="" aria-hidden="true" class="fa fa-sign-out"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="container-fluid">
            <div class="middle-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
