<table class="table table-hover table-stripped table-sm  ">
    <thead class="users_table_hader">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Customer </th>
            <th scope="col">ID</th>
            <th scope="col">Product Family</th>
            <th scope="col">Product Code</th>
            <th scope="col">Version</th>
            <th scope="col">Licence Type</th>
            <th scope="col">Expiration Period</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Update</th>
            <th scope="col">Renew</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of logs index as i">
            <td scope="row" class="pl-2">{{i+1}}</td>
            <td>{{item.customerName}}</td>
            <td class="text-center">{{item.id}}</td>
            <td class="text-center">{{item.ProductFamily}}</td>
            <td class="text-center">{{i+4}}</td>
            <td class="text-dark">{{item.Version}}</td>
            <td>{{item.LicenceType}}</td>
            <td>{{item.ExpirationPeriod}}</td>
            <td>{{item.StartDate}}</td>
            <td>{{item.EndDate}}</td>
            <td> <i class="fa fa-edit text-success ml-3" style="cursor: pointer;" routerLink="/main/updateLicence"></i></td>
            <td><i class="fa fa-wrench" aria-hidden="true" style="cursor: pointer;" routerLink="/main/renewLicence"></i>
            </td>
        </tr>
    </tbody>
</table>


<button class="btn btn-info myButton" routerLink="/main/generateLicence"><i class="fa fa-plus"></i>  Generate New Licence Key</button>