
<div class="container ">
    <div class="row ">
        <div class="col-lg-12 p-0">
            <div class="form_main">
                <h5 class="text-center text-info">Renew Old Licence Key</h5>
                <div class="main_form mb-3">
                    <form class="ng-invalid ng-dirty ng-touched">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label for="">User</label>
                                    <div class="inpul-field">
                                        <select id="my-select" disabled class="form-control" name="">
                                            <option *ngFor="let item of customerName">{{item.customerName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label for="">Product Code</label>
                                    <div class="inpul-field">
                                        <select id="my-select" class="form-control" name="">
                                            <option *ngFor="let item of customerName">{{item.ProductFamily}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="button_btn text-left">
                                    <button class="btn btn-outline-success">Submit</button>
                                </div>
                            </div>
                       </div>
                    </form>
                </div>
                <div class="col-lg-12">
                    <table class="table table-bordered">
                        <thead class="users_table_hader">
                            <tr>
                                <th>Sr.</th>
                                <th>Old Licence Key</th>
                                <th>Old Expiration Period</th>
                                <th>New Expiration Period </th>
                                <th>Generate </th>
                                <th>Export XLD</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>1B2CFF9E2566EFF</td>
                                <td><input type="text" class="form-control" disabled placeholder="Old Expiration Period"></td>
                                <td><input type="text" class="form-control" placeholder="New Expiration Period"></td>
                                <td><button class="btn ui-button-icon-only">Generate</button></td>
                                <td><button class="btn btn-outline-success">Export as XLS</button></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>1B2CFF9E2566EGG</td>
                                <td><input type="text" class="form-control" disabled placeholder="Old Expiration Period"></td>
                                <td><input type="text" class="form-control" placeholder="New Expiration Period"></td>
                                <td><button class="btn ui-button-icon-only">Generate</button></td>
                                <td><button class="btn btn-outline-success">Export as XLS</button></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>1B2CFF9E2566EHH</td>
                                <td><input type="text" class="form-control" disabled placeholder="Old Expiration Period"></td>
                                <td><input type="text" class="form-control" placeholder="New Expiration Period"></td>
                                <td><button class="btn ui-button-icon-only">Generate</button></td>
                                <td><button class="btn btn-outline-success">Export as XLS</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>