<div class="site_main">
  <div class="container-fluid p-0">
    <div class="col-12 p-0">
      <button
        class="createBtn"
        *ngIf="hasAuthority('PROJECT_CREATE')"
        (click)="createpProject()"
      >
        Create Project
      </button>
      <form [formGroup]="searchProjectsForm">
        <div class="search_bar">
          <input
            type="text"
            formControlName="Search"
            class="form-control"
            placeholder="Search here.."
            (ngModelChange)="onsearchProjectsForm($event)"
          />
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
      </form>
      <!-- <div class="search_bar">
        <form [formGroup]="form">
          <input
            type="text"
            autocomplete="off"
            name="search"
            formControlName="search"
            placeholder="Search here "
            [(ngModel)]="term"
            class="form-control"
          />
          <i class="fa fa-search"></i>
        </form>
      </div> -->
      <div class="table_scroll">
        <table>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" style="min-width: 159px;">
                Customer Name
                <div class="shorting">
                  <button (click)="sortAphabetically()">
                    <span class="material-icons">
                      arrow_upward
                    </span>
                  </button>
                  <button (click)="reverseAphabetically()">
                    <span class="material-icons">
                      arrow_downward
                    </span>
                  </button>
                </div>
              </th>
              <th scope="col">Customer Email</th>
              <th scope="col">Customer Contact No.</th>
              <th scope="col">Project Type</th>
              <th scope="col">Project Manager</th>
              <th
                style="min-width: 109px;"
                scope="col"
                *ngIf="
                  hasAuthority('PROJECT_PRODUCT_CREATE') ||
                  hasAuthority('PROJECT_PRODUCT_FETCH')
                "
              >
                Products
              </th>
              <th
                scope="col"
                *ngIf="hasAuthority('LICENSE_FETCH')"
                style="min-width: 120px;"
              >
                Licenses
              </th>
              <th scope="col" *ngIf="hasAuthority('PROJECT_UPDATE')">Edit</th>
            </tr>
          </thead>
          <!-- <div *ngIf="!projects?.length">
            No Project Available Now
          </div> -->
          <tbody id="accordion">
            <ng-container *ngFor="let project of projects; index as i">
              <tr #c (click)="getProductsByProjectId(c, project)">
                <td>{{ i + 1 }}</td>
                <td>{{ project.customerName }}</td>
                <td>
                  {{ project.customerEmail }}
                  <div class="top_tooltip">
                    <label
                      *ngIf="project.isEmailSend"
                      class="badge badge-success badge-outlined"
                    >
                      <i class="fa fa-check"></i>
                    </label>
                    <span>Email Sent</span>
                  </div>
                </td>
                <td>{{ project.customerContactNo }}</td>
                <td>{{ project.projectTypeName }}</td>
                <td>{{ project.projectManagerName }}</td>
                <td
                  *ngIf="
                    hasAuthority('PROJECT_PRODUCT_CREATE') ||
                    hasAuthority('PROJECT_PRODUCT_FETCH')
                  "
                >
                  <div class="top_tooltip">
                    <button
                      class="rahul"
                      (click)="addProduct(project)"
                      *ngIf="hasAuthority('PROJECT_PRODUCT_CREATE')"
                    >
                      <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
                      <!-- <i class="fa fa-plus-square" aria-hidden="true"></i> -->
                      <i class="material-icons">
                        add
                      </i>
                    </button>
                    <span>Add Product</span>
                  </div>

                  <div class="info top_tooltip">
                    <button
                      class="rahul added_product"
                      data-toggle="collapse"
                      [attr.data-target]="'#collapse' + i"
                      (click)="productsCount(project)"
                      *ngIf="
                        hasAuthority('PROJECT_PRODUCT_FETCH') &&
                        project.productsCount
                      "
                    >
                      <!-- <i class="material-icons m-0 border-success text-success"
                        >add_to_queue</i
                      > -->
                      <i class="fa fa-info" aria-hidden="true"></i>
                    </button>
                    <!-- {{ project.productsCount }} -->
                    <span style="min-width: 140px;">Added Product Details</span>
                  </div>
                </td>
                <td *ngIf="hasAuthority('LICENSE_FETCH')">
                  <button
                    *ngIf="hasAuthority('LICENSE_FETCH')"
                    class="top_tooltip rahul"
                    data-toggle="collapse"
                    [attr.data-target]="'#collapse' + i"
                    #c
                    (click)="viewLicenses(project)"
                    class="top_tooltip rahul view"
                  >
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <span style="min-width: 120px;">View Licenses</span>
                  </button>
                  <button
                    class="top_tooltip rahul border-seccess text-seccess"
                    (click)="createExcelLicense(project)"
                    *ngIf="hasAuthority('LICENSE_FETCH')"
                  >
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                    <span style="min-width: 120px;">Export Licenses</span>
                  </button>
                  <button
                    class="top_tooltip rahul pdf"
                    (click)="createPdfLicense(project)"
                    *ngIf="hasAuthority('LICENSE_FETCH')"
                  >
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <span style="min-width: 120px;">Download Pdf</span>
                  </button>
                </td>
                <td *ngIf="hasAuthority('PROJECT_UPDATE')">
                  <button
                    class="top_tooltip rahul text-success border-success"
                    (click)="editProject(project)"
                  >
                    <i class="fa fa-edit" aria-hidden="true"></i>
                    <span style="width: 100px;">Edit Project</span>
                  </button>
                </td>
              </tr>
              <tr>
                <td colspan="9" class="padding">
                  <div
                    [attr.id]="'collapse' + i"
                    class="collapse"
                    data-parent="#accordion"
                  >
                    <!-- <div class="text-center" *ngIf="project.productLoader">
                      <div
                        class="spinner-border text-danger mt-2"
                        style="width: 3rem; height: 3rem;"
                      ></div>
                    </div> -->
                    <div
                      class="sub_table mt-3 p-0"
                      *ngIf="project.licenceActive"
                    >
                      <div
                        *ngIf="project.productLoader"
                        class="text-center w-100"
                      >
                        <img
                          width="100px"
                          src="assets/images/loader3.gif"
                          alt=""
                        />
                      </div>
                      <h3>License Details</h3>
                      <table>
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Code</th>
                            <th scope="col">Generated Key</th>
                            <th scope="col">Remarks</th>
                            <th scope="col" style="min-width: 95px;">
                              Start Date
                            </th>
                            <th scope="col" style="min-width: 95px;">
                              End Date
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let license of licenses; index as i">
                            <td>{{ i + 1 }}</td>
                            <td>{{ license.code }}</td>
                            <td>{{ license.generatedKey }}</td>
                            <td>{{ license.name }}</td>
                            <td>{{ license.projectProduct.startDate }}</td>
                            <td>{{ license.projectProduct.endDate }}</td>
                          </tr>
                          <!-- <div *ngIf="!licenses?.length">
                            No license is generated 
                          </div> -->
                        </tbody>
                      </table>
                    </div>
                    <div
                      class="sub_table mt-3 p-0"
                      *ngIf="project.ProductActive"
                    >
                      <div
                        *ngIf="project.productLoader"
                        class="text-center w-100"
                      >
                        <img
                          width="100px"
                          src="assets/images/loader3.gif"
                          alt=""
                        />
                      </div>
                      <!-- <div
                        *ngIf="
                          !project.products?.length && !project.productLoader
                        "
                      >
                        <p>
                          No Products Available Now
                        </p>
                      </div> -->
                      <h3>Added Product Details</h3>
                      <table class="">
                        <tr
                          class="text-primary"
                          *ngIf="project.products && project.products.length"
                        >
                          <th>#</th>
                          <th scope="col">Product Detail</th>
                          <th scope="col">No of Licenses</th>
                          <th scope="col">License Type</th>

                          <th scope="col">Start Date</th>
                          <th scope="col">End Date</th>
                          <th scope="col">Status</th>
                          <th scope="col">
                            Action
                          </th>
                        </tr>
                        <tr
                          *ngFor="let pro of project.products; index as i"
                          id="{{ pro.id }}"
                          class=""
                        >
                          <td>{{ i + 1 }}</td>
                          <td class="product_family">
                            <span>
                              {{ pro.productDetail.productFamilyName }}</span
                            >
                            <span>
                              {{ pro.productDetail.productCodeName }}
                            </span>
                            <span>{{ pro.productDetail.versionName }}</span>
                            <span
                              class="badge badge-success"
                              *ngIf="pro.pastProjectProductId"
                            >
                              RENEWED
                            </span>
                            <span
                              class="badge badge-secondary"
                              *ngIf="hasExpired(pro)"
                              >EXPIRED
                            </span>
                          </td>
                          <td>{{ pro.licenseCount }}</td>
                          <!-- <td>{{ pro.licenseTypeName }}</td> -->
                          <td *ngIf="pro.licenseTypeName">
                            {{ pro.licenseTypeName }}
                          </td>
                          <td *ngIf="!pro.licenseTypeName">NA</td>

                          <td>{{ pro.startDate }}</td>
                          <td>
                            {{ pro.endDate }}
                          </td>

                          <td>
                            {{ pro.status }}
                            <br />
                            <a
                              class="comments"
                              *ngIf="pro.comments.length"
                              (click)="showComments(pro)"
                              >comments
                            </a>
                          </td>
                          <td>
                            <a
                              class="edit_button top_tooltip text-success"
                              *ngIf="
                                (pro.status == 'DRAFT' &&
                                  hasAuthority('PROJECT_PRODUCT_UPDATE')) ||
                                (pro.status == 'REJECTED' &&
                                  hasAuthority('PROJECT_PRODUCT_UPDATE'))
                              "
                              (click)="editProduct(project, pro)"
                            >
                              <i class="fa fa-edit"></i>
                              <span style="width: 130px;"
                                >Edit Added Product</span
                              >
                            </a>
                            <a
                              class="delete_button top_tooltip text-danger"
                              *ngIf="
                                pro.status == 'DRAFT' &&
                                hasAuthority('PROJECT_PRODUCT_DELETE')
                              "
                              (click)="deleteProduct(pro)"
                            >
                              <i class="fa fa-trash"></i>
                              <span style="width: 140px;"
                                >Delete Added Product</span
                              >
                            </a>
                            <button
                              class="t_save_btn ml-2 top_tooltip"
                              type="button"
                              *ngIf="
                                pro.status == 'DRAFT' &&
                                hasAuthority('PROJECT_PRODUCT_SUBMIT')
                              "
                              (click)="submitProductStatus(pro)"
                            >
                              <i
                                class="fa fa-floppy-o pr-1"
                                aria-hidden="true"
                              ></i>
                              <span style="width: 160px;"
                                >Submit Added Product</span
                              >
                              Submit
                            </button>
                            <button
                              type="button"
                              class="t_save_btn bg-success"
                              (click)="recallProductStatus(pro)"
                              *ngIf="
                                (pro.status == 'SUBMITTED' &&
                                  hasAuthority('PROJECT_PRODUCT_UNDO') &&
                                  hasAuthority('PROJECT_PRODUCT_SUBMIT')) ||
                                (pro.status == 'REVIEWED' &&
                                  hasAuthority('PROJECT_PRODUCT_REVIEW') &&
                                  hasAuthority('PROJECT_PRODUCT_UNDO'))
                              "
                            >
                              Recall
                            </button>
                            <button
                              type="button"
                              class="t_save_btn"
                              *ngIf="
                                pro.status == 'SUBMITTED' &&
                                hasAuthority('PROJECT_PRODUCT_REVIEW') &&
                                hasAuthority('PROJECT_PRODUCT_REJECT')
                              "
                              (click)="reviewProductStatus(pro)"
                            >
                              Review
                            </button>
                            <button
                              type="button"
                              class="t_save_btn bg-danger"
                              (click)="rejectProductStatus(pro)"
                              *ngIf="
                                (pro.status == 'SUBMITTED' &&
                                  hasAuthority('PROJECT_PRODUCT_REVIEW') &&
                                  hasAuthority('PROJECT_PRODUCT_REJECT')) ||
                                (pro.status == 'REVIEWED' &&
                                  hasAuthority('PROJECT_PRODUCT_APPROVE') &&
                                  hasAuthority('PROJECT_PRODUCT_REJECT'))
                              "
                            >
                              Reject
                            </button>
                            <button
                              class="t_save_btn"
                              type="button"
                              *ngIf="
                                pro.status == 'REVIEWED' &&
                                hasAuthority('PROJECT_PRODUCT_APPROVE')
                              "
                              (click)="approveProductStatus(pro)"
                            >
                              Approve
                            </button>
                            <button
                              type="button"
                              class="roleactive"
                              *ngIf="
                                pro.status == 'APPROVED' &&
                                hasAuthority('PROJECT_PRODUCT_RENEW') &&
                                hasRenewDays(pro) &&
                                pro.licenseTypeName == 'COMMERCIAL'
                              "
                              (click)="renewProductStatus(pro, project)"
                            >
                              Renew
                            </button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <div *ngIf="isloader" class="loader">
          <img class="loader_gif" src="assets/images/loader3.gif" alt="" />
        </div>
        <div class="no_product" *ngIf="!projects?.length && !isloader">
          <h2>
            <img src="assets/images/alert.svg" alt="" /> No Projects Available
            Now
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
  <div class="custom_modal_main">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header mb-0">
          <h4 class="modal-title">
            Enter Comment for

            <span> {{ selectedProductFamily }}</span>
            <span> {{ selectedProductCode }}</span>
            <span> {{ selectedProductVersion }} </span>
            <!-- <span style="color: #f00;">*</span> -->
          </h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            (click)="hide(selectedProduct.id)"
          >
            &times;
          </button>
        </div>

        <form (ngSubmit)="onSubmitComment()" [formGroup]="popUpForm">
          <div class="modal-body p-3">
            <!-- <div class="product_details_popup">
              <label>Product Details:</label>
              <span
                >{{ selectedProductCode }}
                {{ selectedProductFamily }}
                {{ selectedProductVersion }}</span
              >
            </div> -->
            <div class="form-group mb-0">
              <label for="">Comment <span class="required">*</span> </label>
              <textarea
                class="form-control"
                formControlName="comment"
                name="comment"
              ></textarea>
              <span
                *ngIf="
                  popUpForm.get('comment').errors &&
                  (popUpForm.get('comment').touched ||
                    popUpForm.get('comment').dirty)
                "
              >
                <span
                  *ngIf="popUpForm.get('comment').errors.required"
                  class="error"
                >
                  Comment is required</span
                >
              </span>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              class="saveBtn"
              [ngStyle]="{
                opacity: !popUpForm.valid ? '0.6' : '1'
              }"
              [disabled]="!popUpForm.valid"
            >
              {{ commentSubmitButton }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="myModal"
  [style.display]="showCommentModal ? 'block' : 'none'"
>
  <div class="custom_modal_main">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header mb-0">
          <h4 class="modal-title">
            Comments for

            <span>{{ selectedProductFamily }}</span>
            <span>{{ selectedProductCode }}</span>
            <span>{{ selectedProductVersion }}</span>
          </h4>
          <!-- <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="hideCommentModel(selectedComment)"
        >
          &times;
        </button> -->
        </div>
        <div class="modal-body overflow-hidden p-3 mb-3">
          <!-- <div class="product_details_popup text-center">
            <label>Product Details:</label>
            <span
              >{{ selectedProductCode }}
              {{ selectedProductFamily }}
              {{ selectedProductVersion }}</span
            >
          </div> -->
          <!-- <div class="coment_list_content">
          <ul *ngFor="let c of comments">
            <li>
              <div class="comnent_main" *ngIf="!hasUserId(c)">
                <label>NAME:</label> <span> {{ c.commentedBy }}</span>
              </div>
              <div class="comnent_main" *ngIf="hasUserId(c)">
                <label>NAME:</label> <span>Me</span>
              </div>
              <div class="comnent_main">
                <label>COMMENT:</label> <span>{{ c.comment }}</span>
              </div>

              <div class="comnent_main">
                <label> Action:</label> <span>{{ c.remark }}</span>
              </div>
              <div class="comnent_main">
                <span class="time">{{ c.createdAt | date: "medium" }}</span>
              </div>
            </li>
          </ul>
        </div> -->

          <div class="ibc-code-section">
            <div class="container">
              <div class="row">
                <div class="ibc-code-main">
                  <div class="main_box">
                    <div class="box_com" *ngFor="let c of comments">
                      <div class="left_box">
                        <p>
                          {{ c.comment }}
                        </p>
                        <h5>{{ c.remark }}</h5>
                        <h6>{{ c.createdAt | date: "medium" }}</h6>
                      </div>
                      <div class="right_box">
                        <div class="img_box_main">
                          <div class="img_box">
                            <img src="assets/images/profile1.jpg" />
                          </div>
                        </div>
                        <div class="text_box">
                          <h2 *ngIf="!hasUserId(c)">
                            {{ c.commentedBy }}
                          </h2>
                          <h2 *ngIf="hasUserId(c)">
                            me
                          </h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal_footer">
          <button
            class="cancelBtn"
            type="button"
            data-dismiss="modal"
            (click)="hideCommentModel(selectedComment)"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="myModal"
  [style.display]="showRenewModal ? 'block' : 'none'"
>
  <div class="custom_modal_main">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            Renew for
            <span> {{ selectedProductFamily }}</span>
            <span>{{ selectedProductCode }}</span>
            <span> {{ selectedProductVersion }}</span>
          </h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            (click)="hideRenewModel(selectedProduct.id)"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <form
            (ngSubmit)="onSubmitStartDate()"
            [formGroup]="popUpStartDateForm"
          >
            <div class="modal-body">
              <div class="form-group">
                <label>Start Date <span class="required">*</span> </label>
                <input
                  type="date"
                  class="form-control"
                  formControlName="startDate"
                  name="startDate"
                  [min]="getToday()"
                  [readonly]="startDateChange == false"
                />
                <span
                  *ngIf="
                    popUpStartDateForm.get('startDate').errors &&
                    (popUpStartDateForm.get('startDate').touched ||
                      popUpStartDateForm.get('startDate').dirty)
                  "
                >
                  <span
                    *ngIf="popUpStartDateForm.get('startDate').errors.required"
                    class="field_error"
                  >
                    Start Date is required</span
                  >
                </span>
              </div>
              <div class="form-group">
                <label
                  >Expiry Period (in months) <span class="required">*</span>
                </label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="expirationMonthCount"
                  name="expirationMonthCount"
                />
                <span
                  *ngIf="
                    popUpStartDateForm.get('expirationMonthCount').errors &&
                    (popUpStartDateForm.get('expirationMonthCount').touched ||
                      popUpStartDateForm.get('expirationMonthCount').dirty)
                  "
                >
                  <span
                    *ngIf="
                      popUpStartDateForm.get('expirationMonthCount').errors.min
                    "
                    class="field_error"
                  >
                    Minimum 1 is required</span
                  >
                </span>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="submit"
                class="saveBtn"
                [ngStyle]="{
                  opacity: !popUpStartDateForm.valid ? '0.6' : '1'
                }"
                [disabled]="!popUpStartDateForm.valid"
              >
                Renew
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
