<div class="container-fluid p-0">
  <div class="col-12 p-0">
    <button
      class="createBtn"
      *ngIf="hasAuthority('PROJECT_CREATE')"
      (click)="createpProject()"
    >
      Create Project
    </button>

    <div class="table_scroll">
      <table>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">
              Customer Name
              <button (click)="sortAphabetically()">up</button>
              <button (click)="reverseAphabetically()">down</button>
            </th>
            <th scope="col">Customer Email</th>
            <th scope="col">Customer Contact NO</th>
            <th scope="col">Project Type</th>
            <th scope="col">Project Manager</th>
            <th scope="col" *ngIf="hasAuthority('PROJECT_PRODUCT_CREATE')">
              Products
            </th>
          </tr>
        </thead>
        <tbody id="accordion">
          <ng-container *ngFor="let project of projects; index as i">
            <tr #c (click)="getProductsByProjectId(c, project)">
              <td>{{ i + 1 }}</td>
              <td>{{ project.customerName }}</td>
              <td>
                {{ project.customerEmail }}
                <span *ngIf="project.isEmailSend">
                  <i class="fa fa-check"></i>
                </span>
              </td>
              <!-- <td>{{ project.isEmailSend }}</td> -->
              <td>{{ project.customerContactNo }}</td>
              <td>{{ project.projectTypeName }}</td>
              <td>{{ project.projectManagerName }}</td>
              <td *ngIf="hasAuthority('PROJECT_PRODUCT_CREATE')">
                <button class="roleactive" (click)="addProduct(project)">
                  <!-- Add Product -->
                  +
                </button>
                <span
                  data-toggle="collapse"
                  [attr.data-target]="'#collapse' + i"
                  >{{ project.productsCount }}</span
                >
                <div class="info top_tooltip">
                  <i class="fa fa-info-circle"></i>
                  <span>More details</span>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="8" class="padding">
                <div
                  [attr.id]="'collapse' + i"
                  class="collapse"
                  data-parent="#accordion"
                >
                  <div class="text-center" *ngIf="project.productLoader">
                    <div
                      class="spinner-border text-danger mt-2"
                      style="width: 3rem; height: 3rem;"
                    ></div>
                  </div>

                  <div class="sub_table mt-3 p-0">
                    <h3>Project details</h3>
                    <div
                      *ngIf="
                        !project.products?.length && !project.productLoader
                      "
                    >
                      <p>
                        No Products Available Now
                      </p>
                    </div>
                    <table class="">
                      <tr
                        class="text-primary"
                        *ngIf="project.products && project.products.length"
                      >
                        <th scope="col">Product Detail</th>
                        <th scope="col">No of License</th>
                        <th scope="col">License Type</th>

                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                      </tr>
                      <tr *ngFor="let pro of project.products; index as i">
                        <td>
                          {{ pro.productDetailResponse.productCodeName }}
                          {{ pro.productDetailResponse.productFamilyName }}
                          {{ pro.productDetailResponse.versionName }}
                        </td>
                        <td>{{ pro.licenseCount }}</td>
                        <!-- <td>{{ pro.licenseTypeName }}</td> -->
                        <td *ngIf="pro.licenseTypeName">
                          {{ pro.licenseTypeName }}
                        </td>
                        <td *ngIf="!pro.licenseTypeName">NA</td>

                        <td>{{ pro.startDate }}</td>
                        <td *ngIf="pro.expirationPeriodType == 'LIMITED'">
                          {{ pro.endDate }}
                        </td>
                        <td *ngIf="pro.expirationPeriodType == 'LIFETIME'">
                          NA
                        </td>
                        <td>
                          {{ pro.status }}
                          <br />
                          <a
                            class="comemt_link"
                            *ngIf="pro.status !== 'DRAFT'"
                            (click)="showComments(pro)"
                            >comments
                          </a>
                        </td>
                        <td *ngIf="pro.status == 'DRAFT'">
                          <a
                            class="edit_button top_tooltip text-success"
                            *ngIf="hasAuthority('PROJECT_PRODUCT_UPDATE')"
                            (click)="editProduct(project, pro)"
                          >
                            <i class="fa fa-edit"></i>
                            <span>Edit Project</span>
                          </a>
                          <a
                            class="delete_button top_tooltip text-danger"
                            *ngIf="hasAuthority('PROJECT_PRODUCT_DELETE')"
                            (click)="deleteProduct(pro)"
                          >
                            <i class="fa fa-trash"></i>
                            <span>Delete Project</span>
                          </a>
                          <button
                            class="t_save_btn ml-2"
                            type="button"
                            *ngIf="hasAuthority('PROJECT_PRODUCT_SUBMIT')"
                            (click)="submitProductStatus(pro)"
                          >
                            <i
                              class="fa fa-floppy-o pr-1"
                              aria-hidden="true"
                            ></i>
                            Submit
                          </button>
                        </td>
                        <td *ngIf="pro.status == 'SUBMIT'">
                          <button
                            class="t_save_btn mr-2"
                            type="button"
                            *ngIf="hasAuthority('PROJECT_PRODUCT_REVIEW')"
                            (click)="reviewProductStatus(pro)"
                          >
                            Review
                          </button>
                          <button
                            class="t_save_btn bg-danger"
                            type="button"
                            (click)="rejectProductStatus(pro)"
                          >
                            Reject
                          </button>
                        </td>
                        <td *ngIf="pro.status == 'REVIEWED'">
                          <button
                            class="roleactive mr-2"
                            type="button"
                            *ngIf="hasAuthority('PROJECT_PRODUCT_APPROVE')"
                            (click)="approveProductStatus(pro)"
                          >
                            Approve
                          </button>
                          <button
                            class="roleactive bg-danger"
                            type="button"
                            (click)="rejectProductStatus(pro)"
                          >
                            Reject
                          </button>
                        </td>
                        <td *ngIf="pro.status == 'APPROVED'">
                          <button
                            type="button"
                            class="roleactive"
                            (click)="renewProductStatus(pro)"
                          >
                            Renew
                          </button>
                        </td>
                        <td *ngIf="pro.status == 'REJECTED'">
                          NA
                        </td>
                        <td *ngIf="pro.status == 'RENEWED'">
                          <button
                            type="button"
                            class="roleactive"
                            (click)="renewProductStatus(pro)"
                          >
                            Renew
                          </button>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div *ngIf="isloader" class="loader">
        <img class="loader_gif" src="assets/images/loader3.gif" alt="" />
      </div>
    </div>
  </div>
</div>

<div
  class="custom_modal_main"
  id="myModal"
  [style.display]="showModal ? 'block' : 'none'"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Enter Comment</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="hide()"
        >
          &times;
        </button>
      </div>

      <form (ngSubmit)="onSubmitComment()" [formGroup]="popUpForm">
        <div class="modal-body">
          <div class="form-group">
            <textarea
              class="form-control"
              formControlName="comment"
              name="comment"
            ></textarea>
            <span
              *ngIf="
                popUpForm.get('comment').errors &&
                (popUpForm.get('comment').touched ||
                  popUpForm.get('comment').dirty)
              "
            >
              <span
                *ngIf="popUpForm.get('comment').errors.required"
                class="text-danger"
              >
                Comment is required</span
              >
            </span>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-danger"
            [disabled]="!popUpForm.valid"
          >
            {{ commentSubmitButton }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="custom_modal_main"
  id="myModal"
  [style.display]="showCommentModal ? 'block' : 'none'"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Comments</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="hideCommentModel()"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <ul *ngFor="let c of comments">
          <li>
            <span *ngIf="!hasUserId(c)"> NAME :{{ c.commentedBy }}</span>
            <span *ngIf="hasUserId(c)"> NAME : me</span>
            COMMENT :{{ c.comment }}

            TIME:{{ c.createdAt | date: "medium" }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div
  class="custom_modal_main"
  id="myModal"
  [style.display]="showRenewModal ? 'block' : 'none'"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Enter Start Date</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="hideRenewModel()"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmitStartDate()" [formGroup]="popUpStartDateForm">
          <div class="modal-body">
            <div class="form-group">
              <label>Start Date</label>
              <input
                type="date"
                class="form-control"
                formControlName="startDate"
                name="startDate"
              />
              <span
                *ngIf="
                  popUpStartDateForm.get('startDate').errors &&
                  (popUpStartDateForm.get('startDate').touched ||
                    popUpStartDateForm.get('startDate').dirty)
                "
              >
                <span
                  *ngIf="popUpStartDateForm.get('startDate').errors.required"
                  class="field_error"
                >
                  Start Date is required</span
                >
              </span>
            </div>
            <div class="form-group">
              <label>Expiry Period (in months) </label>
              <input
                type="number"
                class="form-control"
                formControlName="expirationMonthCount"
                name="expirationMonthCount"
              />
              <span
                *ngIf="
                  popUpStartDateForm.get('expirationMonthCount').errors &&
                  (popUpStartDateForm.get('expirationMonthCount').touched ||
                    popUpStartDateForm.get('expirationMonthCount').dirty)
                "
              >
                <span
                  *ngIf="
                    popUpStartDateForm.get('expirationMonthCount').errors.min
                  "
                  class="field_error"
                >
                  minimun 1 is required</span
                >
              </span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" [disabled]="!popUpForm.valid">
              Renew
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
