<div class="container mt-4">
  <button class="btn btn-danger" (click)="createpProject()">Create Project</button>
</div>


<div class="table-responsive">

  <table class="table table-bordered mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Customer Email</th>
        <th scope="col"> Is Email Send</th>
        <th scope="col">Customer Contact NO</th>
        <th scope="col"> Project Type</th>
        <th scope="col">Project Manager</th>
        <!-- <th scope="col">Action</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects ; index as i">
        <td>{{i+1}}</td>
        <td>{{project.customerName}}</td>
        <td>{{project.customerEmail}}</td>
        <td>{{project.isEmailSend}}</td>
        <td>{{project.customerContactNo}}</td>
        <td>{{project.projectTypeName}}</td>
        <td>{{project.projectManagerName}}</td>
        <!-- <td>
          <a class="text-primary pr-2 cursor">
            <i class="fa fa-edit"></i>
          </a>
          <a class="text-danger pl-2 cursor">
            <i class="fa fa-trash"></i>
          </a>
        </td> -->
        
      </tr>
    </tbody>
  </table>
</div>