<table class="table table-hover table-stripped table-sm  ">
    <thead class="bg-warning">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">UserID</th>
            <th scope="col">Role</th>
            <th scope="col">Mail Status</th>
            <th scope="col">Email Id</th>
            <!-- <th scope="col">Delete</th>
            <th scope="col">Edit</th> -->
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Jamshed Ahmad</td>
            <td>USer2</td>
            <td>Resolver</td>
            <td>sent Successfully</td>

            <td>jmd.amd86@gmail.com</td>
            <!-- <td> <i class="fa fa-trash text-danger ml-3"></i></td>
            <td> <i routerLink="/main/createUser" class="fa fa-edit text-success ml-3" style="cursor: pointer;"></i></td> -->
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Raghav</td>
            <td>USer3</td>
            <td>Reviwer</td>
            <td>Not sent</td>

            <td>abc@gmail.com</td>
            <!-- <td> <i class="fa fa-trash text-danger ml-3"></i></td>
            <td> <i routerLink="/main/createUser" class="fa fa-edit text-success ml-3" style="cursor: pointer;"></i></td> -->
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>RAHUL</td>
            <td>USer5</td>
            <td>User</td>
            <td>sent Successfully</td>

            <td>jmd.amd786@gmail.com</td>
            <!-- <td> <i class="fa fa-trash text-danger ml-3"></i></td>
            <td> <i routerLink="/main/createUser" class="fa fa-edit text-success ml-3" style="cursor: pointer;"></i></td> -->
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Fahad</td>
            <td>USer3</td>
            <td>Reviwer</td>
            <td>Not sent</td>

            <td>Fahad@gmail.com</td>
            <!-- <td> <i class="fa fa-trash text-danger ml-3"></i></td>
            <td> <i routerLink="/main/createUser" class="fa fa-edit text-success ml-3" style="cursor: pointer;"></i></td> -->
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Raghav</td>
            <td>USer5</td>
            <td>User</td>
            <td>sent Successfully</td>

            <td>ragahav@gmail.com</td>
            <!-- <td> <i class="fa fa-trash text-danger ml-3"></i></td>
            <td> <i routerLink="/main/createUser" class="fa fa-edit text-success ml-3" style="cursor: pointer;"></i></td> -->
        </tr>


    </tbody>
</table>
