<div class="col-12 p-0">
  <div class="site_main">
    <div class="container-fluid p-0">
      <button
        class="createBtn"
        *ngIf="hasAuthority('USER_CREATE')"
        (click)="createuser()"
      >
        Create User
      </button>
      <form [formGroup]="serachUserForm">
        <div class="search_bar">
          <input
            type="text"
            formControlName="name"
            class="form-control"
            placeholder="Search here.."
            (ngModelChange)="onSearchUser($event)"
          />
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
      </form>

      <!-- <input [(ngModel)]="term" placeholder="search text goes here" /> -->
      <form [formGroup]="filterRoleForm">
        <div class="search_bar">
          <!-- <span class="fa fa-filter" aria-hidden="true"></span> -->
          <label>Filter by Roles</label>
          <select
            class="form-control"
            name="productStatus"
            formControlName="productStatus"
            (ngModelChange)="onFilterUser($event)"
          >
            <option selected>All</option>

            <option> Admin</option>
            <option> Submitter</option>
            <option> Project Manager</option>
            <option> Customer</option>
            <option> Approver</option>
          </select>
        </div>
      </form>

      <div class="table_scroll">
        <table>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">
                Name
                <div class="shorting">
                  <button (click)="sortAphabetically()">
                    <span class="material-icons">
                      arrow_upward
                    </span>
                  </button>
                  <button (click)="reverseAphabetically()">
                    <span class="material-icons">
                      arrow_downward
                    </span>
                  </button>
                </div>
              </th>
              <th scope="col">
                UserName
                <div class="shorting">
                  <button (click)="sortUserNameAphabetically()">
                    <span class="material-icons">
                      arrow_upward
                    </span>
                  </button>
                  <button (click)="reverseUserNameAphabetically()">
                    <span class="material-icons">
                      arrow_downward
                    </span>
                  </button>
                </div>
                <!-- <button (click)="sortUserNameAphabetically()">up</button>
            <button (click)="reverseUserNameAphabetically()">down</button> -->
              </th>
              <th scope="col">Email</th>
              <th scope="col">Contact No.</th>
              <th scope="col">Roles</th>
              <th
                scope="col"
                class="action_width"
                *ngIf="
                  hasAuthority('USER_UPDATE') || hasAuthority('USER_DELETE')
                "
              >
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of users; index as index"
              id="{{ item.id }}"
              class=""
            >
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.username }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.contactNo }}</td>
              <td>
                <span
                  (click)="showRoleAuthoities(role, item)"
                  class="badge-light cursor-pointer"
                  *ngFor="let role of item.roles; index as index"
                >
                  {{ role.name }}
                </span>
              </td>
              <ng-container
                *ngIf="
                  hasAuthority('USER_UPDATE') || hasAuthority('USER_DELETE')
                "
              >
                <td *ngIf="item.active">
                  <button
                    class="edit_button top_tooltip"
                    *ngIf="hasAuthority('USER_DELETE')"
                  >
                    <i class="fa fa-edit" (click)="edituser(item)"></i>
                    <span>Edit User</span>
                  </button>
                  <button
                    class="delete_button top_tooltip"
                    *ngIf="hasAuthority('USER_DELETE')"
                  >
                    <i class="fa fa-trash" (click)="deleteuser(item)"></i>
                    <span>Delete User</span>
                  </button>
                </td>
                <td *ngIf="!item.active">
                  <button
                    class="roleactive"
                    *ngIf="hasAuthority('USER_DELETE')"
                    (click)="activateuser(item)"
                  >
                    activate
                  </button>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
        <div *ngIf="isloader" class="loader">
          <img class="loader_gif" src="assets/images/loader3.gif" alt="" />
        </div>
        <div class="no_product" *ngIf="!users?.length && !isloader">
          <h2>
            <img src="assets/images/alert.svg" alt="" /> No Users Available Now
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal"
    id="myModal"
    [style.display]="showModal ? 'block' : 'none'"
  >
    <div class="custom_modal_main">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header mb-0">
            <h4 class="modal-title">Authorities</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              (click)="hideModel()"
            >
              &times;
            </button> 
          </div>
          <div class="modal-body p-3">
            <p
              *ngFor="let auth of selectedAuthorites"
              class="badge badge-light padding"
            >
              {{ auth.name }}
            </p>
          </div>
          <!-- <div class="modal_footer">
            <button
              class="cancelBtn"
              data-dismiss="modal"
              (click)="hideModel()"
            >
              Close
            </button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
