.cursor{ cursor: pointer;}
span.badge {
    background-color: #ef4000;
    color:#fff
}
.btn-danger[_ngcontent-c3] {
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 2px;
    right: 15px;
    background-color: #e74111;
    border-color: #e74111;
}