/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
$color:#333;
.form-group small.text-danger {
    position: absolute;
    bottom: -20px;
    left: 0px;
}
$color-text:#ddd;



// /.....scss manoj..../
// /....user../

.table .users_table_hader th {
    background: #ffffff;
    color: $color;
    font-size: 12px;
    padding: 15px 10px;
    border-bottom: solid 2px #ddd;
}
.table th {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}
.table td {
    padding: 10px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #ddd;
    color: $color;
}
.button_btn.text-center {
    display: inline-block;
    width: 100%;
    margin: 15px 0;
}
.text-success {
    cursor: pointer;
}
.table tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.02);
}
.table-hover {
    tbody {
        tr{
            &:hover{
                background: rgba(0, 0, 0, 0.02);
            }
        }
    }
}

.form-control{
    font-size: 14px;
}

i.fa.fa-wrench {
    font-size: 15px;
    margin-left: 5px;
    padding: 5px;
    color: blue;
    outline: none;
}
//..........Create User.........//


form {
    display: inline-block;
    width: 100%;
    text-align: left;
    // max-width: 700px;
    .form-group {
   
        label {
            padding: 7px 0;
            display: inline-block;
            font-size: 15px;
            color: #333;
            width:100%;
            margin-bottom: 0;
        }
        .click_password {
            width: auto;
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
        }
        
    }
}

//........viwe......//
.text-icon {
    color: blue;
    box-shadow: 0px 0px 5px;
    padding: 5px;
    border-radius: 5px;
}
//........sidebar.....//
#sidebar-wrapper{
    margin-left: -16rem;
}

div#sidebar-wrapper {
     display: inline-block;
    background: #fff !important;
    box-shadow: 0 0 5px #999;
    margin-left: 0;
    position: fixed;
    z-index: 33;
    margin-top: 0;
    width: 250px;
    height: 100%;
    
    .sidebar-logo {
        display: inline-block;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #ddd;
        .logo {
            width: 100%;
            max-width: 125px;
        }
    }
    .list-group {
        width: 15rem;
        ul {
            padding: 0;
            margin-bottom: 0;
            li {
                display: inline-block;
                list-style: none;
                outline: none;
                border-bottom: 1px solid #e6e6e6;
                cursor: pointer;
                color: #333;
                i{
                    float: right;
                    color: $color;
                    font-size: 15px;
                    margin-top: 3px;
                }
            }
            .active {
                color: white ;
                background: #333 !important;
            }

            .dropdown_sidebar{
                display: inline-block;
                width: 100%;
                background: #faf6f6;
                ul{
                    padding: 0;
                    width: 100%;
                    display: inline-block;
                    li {
                        display: inline-block;
                        width: 100%;
                        padding: 10px 20px;
                        font-size: 15px;
                        color: $color;
                        border-bottom: 1px solid #e6e6e6;
                        padding-left: 40px;
                        i{
                            color: #333;
                            float: left;
                            font-size: 12px;
                            margin: 6px 10px 0 0;
                        }
                    }
                }
            } 
            .active1[_ngcontent-noe-c50] {
                background: #dedede;
                box-shadow: none;
            }
            .check_menu {
                background: #555;
                color: #fff !important;
                i{
                    color: #fff !important;
                }
            }
        }
    }
}

button.close:focus {
    outline: none;
}
//.......header..............//

.header_main {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    background: #fff;
    box-shadow: 4px 0 6px #999;
    top: 0;
    position: sticky;
    z-index: 222;
    right: 0;
    float: right;

    .Toggle_button{
        display: inline-block;
        width: auto;
        button#menu-toggle {
            width: 40px;
            height: 40px;
            background: none;
            border: none;
            outline: none;
            padding: 0;
            margin-top: 5px;
            margin-left: 10px;
            i {
                font-size: 30px;
                color: #555;
            }
        }
    }
    .manu{
        display: inline-block;
        width: auto;
        float: right;
        ul{
            display: inline-block;
            width: 100%;
            padding: 0;
            margin: 0;
            li{
                list-style: none;
                display:inline-block;
                padding-left: 35px;
                a{
                    font-size: 15px;
                    color: $color;
                    text-decoration: none;
                    padding: 0 10px;
                    display: inline-block;
                    i{
                        font-size: 18px;
                        color: #007bff;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}


//..........project_detail..........//


.form-control:focus{
    box-shadow: none;
}
input#inputEmail3{
    input.form-control.ng-untouched.ng-pristine.ng-valid {
        input.form-control.ng-untouched.ng-pristine {
            display: inline-block;
            width: 100%;
            float: inherit;
        }
    }
}



button.btn.btn-info.myButton{
    .myButton {
        color: white;
        text-align: center;
        position: fixed;
        bottom: 10px;
        right: 18px;
        background-color: #0e6cbd;
        border-color: #0e6cbd;
        box-shadow: none;
    }
}
//.........change-password..........//

.change_password_images {
    display: inline-block;
    width: 100%;
    img{
        display: inline-block;
        width: 100%;
    }
}
select#my-select {
    box-shadow: none;
}
.change_password {
    display: inline-block;
    width: 100%;
    position: relative;
    background: #555555c7;
    text-align: center;
    img {
        display: inline-block;
        width: 100%;
        opacity: 0.4;
    }
    .change_password_form {
        display: inline-block;
        width: 100%;
        position: absolute;
        top: 135px;
        background: #ffffff69;
        left: 275px;
        padding: 15px;
        max-width: 540px;
        transition: 0.5s;
    }
    .text-left {
        font-size: 25px;
        padding: 10px 0;
        margin-bottom: 50px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 240px;
            height: 2px;
            background: #91dada;
        }
    }

}

//........table css...........//

.middle-content {
    margin-top: 90px;
    box-shadow: 0 0 5px #ddd;
    padding: 10px;
    margin-bottom: 20px;
}
.bg-light {
    background-color: #fff !important;
}
.table {
    width: 100%;
    margin-bottom: 0;
    color: #212529;
    position: relative;
}
.myButton {
    color: white;
    text-align: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.btn-info {
    color: #fff;
    background-color: #0e6cbd !important;
    border-color: #0e6cbd !important;
    box-shadow: none;
    &:hover{
      background-color: #1c5f98 !important;
      border-color: #1c5f98 !important;
    }
    &:focus{
        box-shadow: none;
    } 
}

.btn-info:not(:disabled):not(.disabled):active:focus{
    box-shadow: none;
}

.fa-eye {
    position: absolute;
    right: 30px;
    top: 48px;
    color: #333;
    cursor: pointer;
}

::placeholder {
    color: rgb(122, 114, 114);
    opacity: 1;
}

.form_main {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 15px;
    .main_form {
        display: inline-block;
        width: 100%;
        max-width: 100%;
        box-shadow: none;
        padding: 15px;
        .text-info {
            color: #333 !important;
            padding: 10px 0;
            margin-bottom: 0;
        }
        form {
            display: inline-block;
            width: 100%;
            text-align: left;
            max-width: inherit;
            .form-group {
                display: inline-block;
                width: 100%;
                position: relative;
                margin-bottom: 35px;
                label {
                    padding: 7px 0;
                    display: inline-block;
                    font-size: 15px;
                    color: #333;
                    width: 100%;
                    margin-bottom: 0;
                }
                input.form-control.ng-untouched.ng-pristine {
                    display: inline-block;
                    width: 100%;
                    float: inherit;
                }
                select.form-control.ng-untouched.ng-pristine.ng-valid {
                    display: inline-block;
                    width: 100%;
                    float: left;
                    box-shadow: none;
                }
                input.ng-invalid.ng-touched {
                    border: 1.4px solid red;
                }
                input.ng-valid {
                    border: 1.4px solid #ddd;
                }
                .form-control {
                    border: 1.4px solid #ddd;
                    box-shadow: none;
                    width: 100%;
                    float: inherit;
                    height: 40px;
                    padding: 5px;
                }
                // .fa-eye-slash {
                //     position: absolute;
                //     right: 30px;
                //     top: 47px;
                //     cursor: pointer;
                // }
            }
            .button_btn.text-center {
                display: inline-block;
                width: 100%;
                margin: 15px 0;
                .btn.btn-outline-info{
                    box-shadow: none;
                    border: 1px solid #0e6cbd;
                    color: #0e6cbd;
                    &:hover{
                        background: #0e6cbd;
                        color: #fff;
                        border: 1px solid #0e6cbd;
                    }
                }
                .btn.btn-outline-danger{
                    box-shadow: none; 
                }
            }

            .custom-check {
                display: inline-block;
                width: 100%;
                text-align: center;
                .custom-checkbox {
                    display: inline-block;
                    width: 250px;
                    position: relative;
                    .custom-control-input {
                        position: absolute;
                        left: 0;
                        z-index: 333;
                        width: 23px;
                        height: 23px;
                        opacity: 0;
                        top: 6px;
                        &:checked + label:before {
                            content: "\f00c";
                                font-family: fontawesome;
                                color: #fafafa;
                                font-size: 18px;
                                position: absolute;
                                top: 6px;
                                left: 0;
                                width: 23px;
                                height: 23px;
                                background:#333;
                                background: #555;
                                z-index: 222;
                                text-align: center;
                                }
                    }
                    label {
                        padding: 7px 0 7px 35px;
                        display: inline-block;
                        width: 250px;
                        margin-bottom: 0;
                        &:after {
                            position: absolute;
                            top: 6px;
                            left: 0;
                            display: inline-block;
                            width: 23px;
                            height: 23px;
                            content: "";
                            background:#ddd;
                        }
                    }
                }
            }
        }
    }
}
span{
    color: red
}



form.form-inline.ng-untouched.ng-pristine.ng-valid {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    .form-group {
        width: 100%;
        display: inline-block;
        max-width: 25%;
        .form-control {
            display: inline-block;
            width: 235px;
            max-width: 250px;
            border: 1px solid #ddd;
            &:focus {
                border: 1px solid #ddd;
            }
        }
    }
}