<div class="container padd">
    <div class="row">
        <div class="col-lg-6 ">
            <img src="assets/img/login_process.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 mt-4">
            <h2 class="text-left">Reset Your Password</h2>
            <h6 class="txt">Please input your old password to reset new password</h6>
            <form action="" (ngSubmit)="onSubmit()" #f="ngForm" class="col-sm mt-5">
                <div class="form-group">
                    <label for=""><strong>Old Password</strong></label>
                    <input type="password" #OldPsw='ngModel' minlength="5" class="form-control" placeholder="Old Password" name="oldPsw" [(ngModel)]="model.oldPsw" ngModel required>
                    <small class="text-danger" *ngIf="!OldPsw.valid && OldPsw.touched">Old Password must be 5 characters</small>
                </div>
                <div class="form-group">
                    <label for=""><strong>New Password</strong></label>
                    <input type="password" #NewPsw='ngModel' minlength="5" class="form-control" placeholder="New Password" name="newPsw" [(ngModel)]="model.newPsw" ngModel required>
                    <small class="text-danger" *ngIf="!NewPsw.valid && NewPsw.touched">New Password must be 5 characters</small>
                </div>
                <div class="form-group">
                    <label for=""><strong>Confirm Password</strong></label>
                    <input type="password" #CnfPsw='ngModel' minlength="5" class="form-control" placeholder="Confirm Password" name="cnfPsw" [(ngModel)]="model.cnfPsw" ngModel required>
                    <small class="text-danger" *ngIf="!CnfPsw.valid && CnfPsw.touched">Confirm Password must be 5 characters</small>
                </div>
                <div class="form-group pull-right">
                    <button type="submit" class="btn btn-info mr-3">Submit</button>
                    <button type="button" class="btn btn-danger">Clear</button>
                </div>
            </form>
        </div>
    </div>
</div>
